.main-area {
    flex-shrink: 0;
    flex-grow: 0;
    display: flex;

    height: 100%;
    width: 100%;
}

.panel-bet,
.panel-history {
    flex-shrink: 0;
}

:global(.mobile-portrait) {
    .main-area {
        width: 100%;
        height: 100%;

        flex-direction: column;
        gap: 1.2rem;
    }

    .panel-history,
    .panel-bet {
        padding: 0 0.8rem;
    }
}

:global(.desktop),
:global(.mobile-landscape) {
    .main-area {
        padding-bottom: 0.9rem;

        flex-direction: column-reverse;
        gap: 2rem;
    }

    .panel-history,
    .panel-bet {
        padding: 0 5.7rem 0;
    }
}

.panel-history {
    height: 3rem;
}

.panel-bet {
    flex: 1;
}
