.main-area {
    flex-shrink: 0;
    flex-grow: 0;
    display: flex;

    height: 100%;
    width: 100%;
    position: relative;
}

.panel-bet,
.panel-history {
    flex-shrink: 0;
}

:global(.mobile-portrait) {
    .main-area {
        width: 100%;
        height: 100%;

        flex-direction: column;
        justify-content: flex-end;
        gap: 1.2rem;
    }

    .panel-bet {
        min-height: 18rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .panel-bet,
    .panel-history {
        padding-left: 0.8rem;
        padding-right: 0.8rem;
    }
}

:global(.desktop),
:global(.mobile-landscape) {
    .main-area {
        padding-bottom: 0.6rem;
        padding-top: 1rem;

        flex-direction: column-reverse;
        gap: 2rem;
    }

    .panel-history,
    .panel-bet {
        padding: 0 7.7rem 0;
    }

    .panel-bet {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .container-center-board {
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
        justify-content: space-between;
        width: 100%;
        height: 100%;
    }

    .landscape-top-board {
        flex-basis: 1;
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
        align-items: center;
        justify-content: center;
        position: relative;
        padding-bottom: 0.8rem;

        &.close {
            animation: landscape-board-hide 0.35s linear forwards;
        }

        &.open {
            animation: landscape-board-show 0.35s linear forwards;
        }
    }
}

.panel-history {
    height: 3rem;
}

.panel-bet {
    flex: 1;
}

@keyframes landscape-board-show {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes landscape-board-hide {
    0% {
        transform: translateY(0px);
        opacity: 1;
    }
    100% {
        transform: translateY(-100%);
        opacity: 0;
    }
}
