.card-top {
    padding: 1.4rem 1.2rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.col-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.game-name {
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.026rem;
}

.text-total-transaction {
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: -0.026rem;
}

.text-secondary {
    font-size: 1.1rem;
    font-weight: 400;
    color: #5e5f73;
}

.text-period {
    font-size: 1.1rem;
    font-weight: 400;
}

.bottom {
    display: inline-flex;
    gap: 0.5rem;
}

:global(.desktop) {
    .card-top {
        padding: 1.4rem 1.2rem;
        gap: 1rem;
    }

    .game-name {
        font-size: 1.4rem;
    }

    .text-total-transaction {
        font-size: 1.6rem;
    }

    .text-secondary {
        font-size: 1.3rem;
    }

    .text-period {
        font-size: 1.3rem;
    }

    .bottom {
        gap: 0.5rem;
    }
}
