.roadmap-table.invisible {
    visibility: hidden;
    opacity: 0;
}

.roadmap-table.bead-road.invisible {
    display: flex !important;
    visibility: visible !important;
    opacity: 1;
}

.roadmap-table {
    transition-duration: 500ms;
    transition-property: transform, top, left, x, y, d, cx, cy;
}


.roadmap-table.big-eye-road {


    &.full {
        transform: translate(-4px, -144px) scale(2) !important;
    }
}

.roadmap-table.small-road {


    &.full.col-8 {
        transform: translate(-145px, -145px) scale(2) !important;

    }

    &.full.col-10 {
        transform: translate(-173px, -145px) scale(2) !important;

    }
    
    &.full.col-12 {
        transform: translate(-200px, -145px) scale(2) !important;

    }

    &.full.col-14 {
        transform: translate(-230px, -145px) scale(2) !important;

    }
}


.roadmap-table.cockroach-road {


    &.full.col-8 {
        transform: translate(-290px,-144px) scale(2)!important

    }

    &.full.col-10 {
        transform: translate(-342px, -144px) scale(2) !important;

    }
    
    &.full.col-12 {
        transform: translate(-400px, -144px) scale(2) !important;

    }

    &.full.col-14 {
        transform: translate(-455px, -144px) scale(2) !important;

    }
}


.sl-roadmap-alternating {
    animation: sl-roadmap-transition 0.25s infinite alternate;
}

@keyframes sl-roadmap-transition {
    to {
        opacity: 0;
    }
}