.container {
    position: absolute;
    inset: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
}

.button-name {
    font-size: 1.2rem;
    font-weight: 800;
    color: #583e11;
}

.payout {
    color: rgba(88, 62, 17, 0.36);
    font-size: 0.8rem;
    font-weight: 700;
}
