.winner {
    backface-visibility: hidden;
    line-height: 1.3;
    max-width: 100%;
    position: absolute;
    text-shadow: 0.1rem 0.1rem 0.1rem #000;
    top: 100%;
    white-space: pre;
    will-change: transform;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;

    &.disapear {
        animation: hide 1s;
        animation-delay: 0.5s;
    }
}

@keyframes hide {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
