.content {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1.2rem;
    padding-right: 0.6rem;

    overflow-y: auto;

    animation: show-content 0.5s forwards;
}

@keyframes show-content {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}
