.content {
    height: var(--top-winner-height);
    width: 100%;
    overflow: hidden;
}

.wrapper {
    height: var(--top-winner-height);
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    transition: ease 400ms;
}
