.result {
    position: absolute;
    left: 50%;
    top: 9rem;
    transform: translateX(-50%);
}

:global :local(.result) {
    animation: fadeIn 0.3s both;

    &:local(.disapear) {
        animation: fadeOut 0.3s linear forwards;
    }
}

.image {
    width: 9rem;
}
