.container {
    position: absolute;

    width: 10rem;
    height: 10rem;
}

:global :local(.container) {
    animation: zoomIn 0.5s both;

    &:local(.disapear) {
        animation: zoomOut 0.3s both;
    }
}

:global(.mobile-portrait) {
    .container {
        left: 50%;
        bottom: calc(var(--height-footer) + 9.4rem);
        translate: -50% 0;
    }
}

:global(.desktop),
:global(.mobile-landscape) {
    .container {
        left: 50%;
        top: 50%;
        translate: -50% -50%;
    }
}
