.card {
    width: 100%;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border: 0.1rem solid #343547;
    transition: background-color 0.4s linear;

    &:first-child {
        border-radius: 0.8rem 0.8rem 0 0;
    }

    &:last-child {
        border-radius: 0 0 0.8rem 0.8rem;
    }

    &.expand {
        background: #1e1f2e;
        transition: background-color 0.4s linear;
    }
}
