.card {
    width: 100%;
    // display: flex;
    // flex-direction: column;
    display: grid;
    grid-template-rows: min-content 0fr;
    cursor: pointer;
    border: 0.1rem solid #343547;

    transition:
        background-color 0.4s,
        grid-template-rows 0.4s;

    &:first-child {
        border-radius: 0.8rem 0.8rem 0 0;
    }

    &:last-child {
        border-radius: 0 0 0.8rem 0.8rem;
    }

    &.expand {
        background: #1e1f2e;
        grid-template-rows: min-content 1fr;
    }
}
