.slidecontainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0px 12px;
  box-sizing: border-box;
}

.label-slider {
  flex: 1;
  color: #fff;
  font-family: ManropeCustom;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.22px;
  opacity: 1;
}

.label-slider.disabled {
  opacity: 0.5;
}

.round-slider {
  flex: 5;
  -webkit-appearance: none;
  height: 5px;
  border-radius: 5px;
  /*border: 2px rgba(28, 29, 45, 0.24) solid;*/
  outline: none;
  opacity: 1;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s, background 0.15s ease-in-out;
}

.round-slider:disabled {
  opacity: 0.5;
}

.round-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #00c3d8;
  cursor: pointer;
  border: 4px #1e1f2e solid;
}

.round-slider::-moz-range-track {
  flex: 2;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  transition: opacity 0.2s, background 0.15s ease-in-out;
}

.round-slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #00c3d8;
  cursor: pointer;
  border: 4px #1e1f2e solid;
}
