.maximize {
    visibility: hidden;
    overflow: hidden;

    &.open {
        visibility: visible;
    }
}

.maximize-content {
    padding: 0 1.2rem 1.4rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.result-wrapper {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}
