.maximize {
    visibility: hidden;
    overflow: hidden;

    &.open {
        visibility: visible;
    }
}

.maximize-content {
    padding: 0 1.2rem 1.4rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.text-secondary {
    font-size: 1.1rem;
    font-weight: 400;
    color: #5e5f73;
}

.text-capitalize {
    text-transform: capitalize;
}

.text-period {
    font-size: 1.1rem;
    font-weight: 400;
}

.result-wrapper {
    padding: 0.8rem 0;
}
