.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;

    height: 4.4rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;

    border-radius: 1rem;
    border: 0.1rem solid rgba(133, 135, 157, 0.32);
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0.2rem 0.2rem 0.6rem 0 rgba(0, 0, 0, 0.12) inset;

    &:active,
    &:focus {
        background: rgba(0, 0, 0, 0.4);
    }

    & > svg {
        width: 2rem;
        height: 2rem;
    }
}

.label {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    white-space: nowrap;
}
