.slideshow {
    margin: 0 auto;
    overflow: hidden;
    max-width: var(--width-modal-mini-htp);
    height: 100%;
}

.slideshow-slider {
    height: 100%;
    white-space: nowrap;
    transition: ease 700ms;
}

.slide {
    display: inline-block;

    height: 400px;
    width: 100%;
}
