.container1,
.container2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

:global(.mobile-portrait) {
    .container1 {
        top: 4rem;
    }

    .image1 {
        width: 28rem;
        height: auto;
    }

    .container2 {
        top: calc(var(--height-streaming) * 1px - 1.8rem);
    }

    .image2 {
        height: 4rem;
    }
}

:global(.mobile-landscape) {
    .container1 {
        top: 0rem;
    }

    .image1 {
        width: 28rem;
        height: auto;
    }

    .container2 {
        top: 22rem;
    }

    .image2 {
        height: 4rem;
    }
}

:global(.desktop) {
    .container1 {
        top: 46rem;
    }

    .image1 {
        width: 42rem;
        height: auto;
    }

    .container2 {
        top: 68rem;
    }

    .image2 {
        height: 6rem;
    }
}

:global :local(.result) {
    animation: fadeIn 0.3s both;

    &:local(.disapear) {
        animation: fadeOut 0.3s linear forwards;
    }
}
