.message {
    --translate-x: -50%;

    position: absolute;
    left: 50%;
    top: 17rem;

    transform: translateX(var(--translate-x));

    // width: 22rem;
    height: 3rem;
}

:global :local(.message) {
    animation: fadeIn 0.3s linear both;

    :local(.content) {
        animation: zoomIn 0.3s both;
    }
}

:global :local(.message.disapear) {
    animation: fadeOut 0.3s linear both;

    :local(.content) {
        animation: zoomOut 0.3s both;
    }
}

.background {
    height: 100%;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 0.052rem;
    text-transform: uppercase;
    text-shadow: 0px 0.1rem 0.1rem rgba(0, 0, 0, 0.3);
}
