.message {
    --translate-x: -50%;

    position: absolute;
    left: 50%;
    top: 17rem;

    transform: translateX(var(--translate-x));

    width: max-content;
    height: 3rem;
    width: max-content;
    min-width: 20rem;
    max-width: 32rem;
    display: flex;
    justify-content: center;
}

:global :local(.message) {
    animation: fadeIn 0.3s linear both;

    :local(.content) {
        animation: zoomIn 0.3s both;
    }
}

:global :local(.message.disapear) {
    animation: fadeOut 0.3s linear both;

    :local(.content) {
        animation: zoomOut 0.3s both;
    }
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.content {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    position: relative;

    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 0.052rem;
    text-transform: uppercase;
    text-shadow: 0px 0.1rem 0.1rem rgba(0, 0, 0, 0.3);
}

.no-game .text {
    &::before,
    &::after {
        content: 'x';
        font-size: 0.9em;
        color: rgba(255, 255, 255, 0.3);
        font-weight: 800;

        position: absolute;
        top: 50%;
        translate: 0 -50%;
    }

    &::before {
        right: calc(100% + 0.4rem);
    }

    &::after {
        left: calc(100% + 0.4rem);
    }
}

:global(.desktop) {
    .message {
        top: 46rem;
        height: 5.5rem;
        min-width: 40rem;
        max-width: 100rem;
    }

    .text {
        font-size: 2.4rem;
        text-shadow: 0px 0.2rem 0.2rem rgba(0, 0, 0, 0.3);
        white-space: nowrap;
    }

    .no-game .text {
        &::before,
        &::after {
            font-size: 0.9em;
        }
    }
}
