

.table-bet {
    margin-left: 0.25rem;
    margin-top: 1rem;
    --width: 34rem;
    --center-half: 4.3rem;
    position: relative;
    height: fit-content;
    min-height: 17rem;
    width: var(--width);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 10rem 1fr;
    gap: 0.2rem;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

    height: 13.4rem;
    width: 13.4rem;
    border-radius: 50%;
    background-color: #8f4100;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0.2rem 0;
}



.stick {
    position: absolute;
    width: 0.8rem;
    top: 0;
    bottom: 0;
}

.stick.left {
    left: -0.4rem;

    .long {
        &::before {
            left: 100%;
            background: linear-gradient(
                270deg,
                rgba(71, 0, 21, 0) 0%,
                rgba(71, 0, 21, 0.32) 33.16%,
                rgba(71, 0, 21, 0.8) 70.27%
            );
        }
    }

    .long,
    .stick-top,
    .stick-bottom {
        background: linear-gradient(
            90deg,
            rgb(110, 1, 21),
            rgb(209, 8, 45),
            rgb(110, 1, 21)
        );
    }
}

.stick.right {
    right: -0.4rem;

    .long {
        &::before {
            right: 100%;
            background: linear-gradient(
                270deg,
                rgba(90, 56, 0, 0.8) 29.73%,
                rgba(90, 56, 0, 0.32) 66.84%,
                rgba(90, 56, 0, 0) 100%
            );
        }
    }

    .long,
    .stick-top,
    .stick-bottom {
        background: linear-gradient(
            90deg,
            rgb(141, 79, 4),
            rgb(230, 130, 8),
            rgb(141, 79, 4)
        );
    }
}

.long {
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 0.6rem;
    translate: -50% 0;

    &:before {
        content: '';
        position: absolute;
        top: 0;

        bottom: 0;
        width: 1.1rem;
    }
}

.stick-top::before,
.stick-bottom::before {
    background: linear-gradient(
        90deg,
        rgb(148, 106, 7),
        #fbca53,
        rgb(148, 106, 7)
    );
}

.stick-top,
.stick-bottom {
    position: absolute;
    width: 0.6rem;
    height: 0.3rem;
    bottom: 100%;
    left: 50%;
    translate: -50% 0;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        height: 0.2rem;
    }
}

.stick-top {
    bottom: 100%;

    &::before {
        top: 0.1rem;
    }
}

.stick-bottom {
    top: 100%;

    &::before {
        bottom: 0.1rem;
    }
}

.top-ornamen,
.bottom-ornamen {
    width: 0.45rem;
    height: 0.3rem;
    background: #fbca53;
    position: absolute;
    left: 50%;
    translate: -50% 0;
    box-shadow: inset 0.15rem 0.05rem 0.2rem rgb(148, 106, 7, 0.8),
        inset 0.15rem 0.05rem 0.2rem rgb(0, 0, 0, 0.3),
        0 0 0.2rem rgba(0, 0, 0, 0.3),
        inset -0.1rem -0.1rem 0.2rem rgba(100, 100, 100, 0.3);
}

.top-ornamen {
    bottom: calc(100% + 0.3rem);
}

.bottom-ornamen {
    top: calc(100% + 0.3rem);
}

.top-ornamen-circle,
.bottom-ornamen-circle {
    position: absolute;
    width: 0.8rem;
    height: 0.25rem;
    background: #fbca53;
    left: 50%;
    translate: -50% 0;
    border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
    box-shadow: inset 0.15rem 0.05rem 0.2rem rgb(148, 106, 7, 0.8),
        0 0 0.2rem rgba(0, 0, 0, 0.3),
        inset -0.1rem -0.1rem 0.2rem rgba(255, 255, 255, 0.2);

    &::before {
        content: '';
        position: absolute;
        left: 50%;
        translate: -50% 0;
        height: 0.15rem;
        width: 0.4rem;
        background: #fbca53;
        box-shadow: inset 0.15rem 0.05rem 0.2rem rgb(148, 106, 7, 0.8),
            inset 0.15rem 0.05rem 0.2rem rgb(0, 0, 0, 0.3),
            0 0 0.2rem rgba(0, 0, 0, 0.3),
            inset -0.1rem -0.1rem 0.2rem rgba(100, 100, 100, 0.3);
    }

    &::after {
        content: '';
        position: absolute;
        left: 50%;
        translate: -50% 0;
        height: 0.4rem;
        width: 0.6rem;

        background: #fbca53;
        box-shadow: inset 0.15rem 0.05rem 0.2rem rgb(148, 106, 7, 0.8),
            0 0 0.2rem rgba(0, 0, 0, 0.3),
            inset -0.1rem -0.1rem 0.2rem rgba(255, 255, 255, 0.2);
    }
}

.top-ornamen-circle {
    bottom: 100%;

    &::before {
        bottom: 100%;
    }

    &::after {
        bottom: calc(100% + 0.15rem);
        border-radius: 0.4rem 0.4rem 0.1rem 0.1rem;
    }
}

.bottom-ornamen-circle {
    top: 100%;

    &::before {
        top: 100%;
    }

    &::after {
        top: calc(100% + 0.15rem);
        border-radius: 0.1rem 0.1rem 0.4rem 0.4rem;
    }
}
