.table-bet {
    --center-half: 4.3rem;

    margin-left: 0.25rem;
    margin-right: 0.25rem;
    position: relative;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 10rem 1fr;
    gap: 0.2rem;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

    height: 13.4rem;
    width: 13.4rem;
    border-radius: 50%;
    background-color: #8f4100;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0.2rem 0;
}

:global(.mobile-portrait) {
    .table-bet {
        height: calc(100% - 1.8rem);
    }
}

:global(.mobile-landscape) {
    .table-bet {
        --perspective: 100rem;

        --translate-x: 0;
        --translate-y: 0;
        --scale: 1;
        --opacity: 1;
        --rotate-x: 0;

        height: calc(100% - 0.8rem);
        width: 100%;
        max-width: 45rem;

        transform: translateX(var(--translate-x)) translateY(var(--translate-y)) scale(var(--scale))
            perspective(var(--perspective)) rotateX(var(--rotate-x));
        opacity: var(--opacity);

        transform-origin: bottom;
        transition-duration: 0.75s;
        transition-property: transform, opacity;
    }

    .opened {
        --translate-x: 0;
        --translate-y: 0;
        --scale: 1;
        --opacity: 1;
        --rotate-x: 0;
    }

    .closed {
        --translate-x: 0;
        --translate-y: 0.4rem;
        --scale: 0.75;
        --opacity: 0.6;
        --rotate-x: 46deg;
    }
}

:global(.desktop) {
    .table-bet {
        // --center-half: 13rem;
        --center-half: 9rem;

        --perspective: 100rem;

        --translate-y: 0;
        --scale: 1;
        --opacity: 1;
        --rotate-x: 0;

        height: calc(100% - 0.8rem);
        width: 100%;

        grid-template-rows: 1fr 17rem 1fr;

        transform: translateY(var(--translate-y)) scale(var(--scale))
            perspective(var(--perspective)) rotateX(var(--rotate-x));
        opacity: var(--opacity);

        transform-origin: bottom;
        transition-duration: 0.75s;
        transition-property: transform, opacity;
    }

    .opened {
        --translate-y: 0;
        --scale: 1;
        --opacity: 1;
        --rotate-x: 0;
    }

    .closed {
        --translate-y: 0.4rem;
        --scale: 0.96;
        --opacity: 0.75;
        --rotate-x: 30deg;
    }

    .center {
        height: 26rem;
        width: 26rem;
        padding: 0.4rem 0;
    }
}

.slot-card {
    // pointer-events: none;
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // width: 100%;
    // height: 100%;
    // transform: translate(-50%, -50%);

    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
}
