.you-win {
    --translate-x: -50%;

    position: absolute;
    left: 50%;
    top: 16rem;

    transform: translateX(var(--translate-x));

    height: 4.7rem;
    width: max-content;
    min-width: 20rem;
    max-width: 32rem;
}

:global :local(.you-win) {
    animation: fadeIn 0.3s linear both;

    :local(.content) {
        animation: zoomIn 0.3s both;
    }
}

:global :local(.you-win.disapear) {
    animation: fadeOut 0.3s linear both;

    :local(.content) {
        animation: zoomOut 0.3s both;
    }
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.content {
    width: 100%;
    height: 100%;

    padding: 0.8rem 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6rem;
}

.label {
    color: #2dc123;
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: 0.09rem;
    text-transform: uppercase;
}

.value {
    text-shadow: 0px 0.2rem 0.3rem rgba(0, 0, 0, 0.4);
    font-size: 1.9rem;
    font-weight: 700;
    letter-spacing: -0.038rem;
}

:global(.desktop) {
    .you-win {
        top: 46rem;

        height: 5.9361rem; /* 4.7rem * 1.263 */
        min-width: 40rem;
        max-width: 100rem;
    }

    .content {
        padding: 1.01rem 1.263rem; /* 0.8rem and 1rem * 1.263 */
        gap: 0.758rem; /* 0.6rem * 1.263 */
    }

    .label {
        font-size: 1.2rem;
    }

    .value {
        font-size: 2.4rem;
        letter-spacing: -0.048rem;
    }
}
