.you-win {
    --translate-x: -50%;

    position: absolute;
    left: 50%;
    top: 16rem;

    transform: translateX(var(--translate-x));

    width: 20rem;
    height: 4.7rem;

    animation: message-fadein 0.4s linear forwards;

    &.disapear {
        animation: message-fadeout 0.4s linear forwards;

        .content {
            animation: hide-message-content 0.3s linear forwards;
        }
    }
}

.background {
    height: 100%;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    padding: 0.8rem 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6rem;

    animation: show-message-content 0.4s linear forwards;
}

.label {
    color: #2dc123;
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: 0.09rem;
    text-transform: uppercase;
}

.value {
    text-shadow: 0px 0.2rem 0.3rem rgba(0, 0, 0, 0.4);
    font-size: 1.9rem;
    font-weight: 700;
    letter-spacing: -0.038rem;
}

@keyframes message-fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes message-fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes show-message-content {
    0% {
        opacity: 0;
        transform: scaleX(0);
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: scaleX(1);
    }
}

@keyframes hide-message-content {
    0% {
        opacity: 1;
        transform: scaleX(1);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scaleX(0);
    }
}
