.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
}

.text {
    color: #fff;
    font-size: 1rem;
    font-weight: 800;
    text-transform: uppercase;
}
