.item {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.name {
    white-space: nowrap;
    text-transform: uppercase;
    // font-size: 0.7rem;
    font-size: 1rem;
    font-weight: 700;
}

.value {
    text-transform: uppercase;
    // font-size: 0.8rem;
    font-size: 1rem;
}

.card {
    font-size: 2rem;
    width: 2rem;
}
