.item {
    height: var(--top-winner-height);
    display: inline-flex;
    align-items: center;
    gap: 0.2rem;
    margin-right: 0.6rem;

    &:first-child {
        .label {
            color: #70ff5e;
        }
    }
}

.label,
.value {
    font-size: 0.8rem;
    letter-spacing: -0.016rem;
    line-height: var(--top-winner-height);
}

.label {
    font-weight: 400;
}

.value {
    color: #ffc71c;
    font-weight: 600;
}
