.container {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.date {
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 0.028rem;
    padding-left: 0.8rem;
}
