.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    position: absolute;
    bottom: 100%;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    right: 0;
    width: max-content;
    background-color: #2c2d3f;
    box-shadow: 0 0.8rem 1.6rem rgba(0, 0, 0, 0.2);
    border: 0.1rem solid rgba(94, 95, 115, 0.15);
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.dropdown-item {
    padding: 1rem 0.8rem;
    cursor: pointer;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.6rem;
}
