.menu-content {
    position: absolute;
    bottom: 0;

    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #222334;

    transition: height 1s linear;

    &:first-child {
        opacity: 0;
    }
}

.menu-body {
    flex: 1;
    overflow: hidden;

    display: flex;
    flex-direction: column;
}

.mobile-portrait {
    &.menu-content {
        width: 100%;
        max-height: 90%;
        left: 0;

        box-shadow: 0 -0.4rem 1.2rem rgba(0, 0, 0, 0.3);

        animation: menu-open-up 0.65s forwards;

        &.disappear {
            animation: menu-close-down 0.75s forwards;
        }
    }
}

.desktop,
.mobile-landscape {
    &.menu-content {
        height: 100%;
        width: 50%;
        min-width: 50%;
        max-width: 100%;
        top: 0;

        &.layout-1 {
            left: 0;

            box-shadow: 0.4rem 0 1.2rem rgba(0, 0, 0, 0.3);

            animation: menu-open-right 0.65s forwards;

            &.disappear {
                animation: menu-close-left 0.75s forwards;
            }
        }

        &.layout-2 {
            right: 0;

            box-shadow: -0.4rem 0 1.2rem rgba(0, 0, 0, 0.3);

            animation: menu-open-left 0.65s forwards;

            &.disappear {
                animation: menu-close-right 0.75s forwards;
            }
        }
    }
}

@keyframes menu-open-up {
    0% {
        transform: translateY(100rem);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes menu-close-down {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100rem);
    }
}

@keyframes menu-close-right {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100rem);
    }
}

@keyframes menu-open-left {
    0% {
        transform: translateX(100rem);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes menu-close-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100rem);
    }
}

@keyframes menu-open-right {
    0% {
        transform: translateX(-100rem);
    }
    100% {
        transform: translateX(0);
    }
}
