.menu-content {
    position: absolute;

    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #222334;

    transition: height 1s linear;
}

.menu-body {
    flex: 1;
    overflow: hidden;

    display: flex;
    flex-direction: column;
}

:global(.mobile-portrait) {
    .menu-content {
        width: 100%;
        max-height: 90%;
        left: 0;
        bottom: 0;

        box-shadow: 0 -0.4rem 1.2rem rgba(0, 0, 0, 0.3);

        &:global {
            animation: slideInUp 0.25s both;
        }

        &.disappear {
            :global {
                animation: slideOutDown 0.25s both;
            }
        }
    }
}

:global(.mobile-landscape) {
    .menu-content {
        height: 100%;
        width: 36rem;
        top: 0;
        bottom: 0;

        &.layout-1 {
            left: 0;

            box-shadow: 0.4rem 0 1.2rem rgba(0, 0, 0, 0.3);

            &:global {
                animation: slideInLeft 0.25s both;
            }

            &.disappear {
                :global {
                    animation: slideOutLeft 0.25s both;
                }
            }
        }

        &.layout-2,
        &.layout-3 {
            right: 0;

            box-shadow: -0.4rem 0 1.2rem rgba(0, 0, 0, 0.3);

            &:global {
                animation: slideInRight 0.25s both;
            }

            &.disappear {
                :global {
                    animation: slideOutRight 0.25s both;
                }
            }
        }
    }
}

:globla(.mobile-portrait),
:global(.mobile-landscape) {
    .menu-content {
        &:first-child {
            opacity: 0;
        }
    }
}

:global(.desktop) {
    .menu-content {
        width: 48rem;
        min-height: 58rem;
        max-height: 92rem;
        top: 8rem;
        right: 2rem;
        border-radius: 1rem;
        pointer-events: all;
    }
}
