.menu-content {
    position: absolute;
    bottom: 0;

    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #222334;

    transition: height 1s linear;

    &:first-child {
        opacity: 0;
    }
}

.menu-body {
    flex: 1;
    overflow: hidden;

    display: flex;
    flex-direction: column;
}

:global(.mobile-portrait) {
    .menu-content {
        width: 100%;
        max-height: 90%;
        left: 0;

        box-shadow: 0 -0.4rem 1.2rem rgba(0, 0, 0, 0.3);

        &:global {
            animation: slideInUp 0.5s both;
        }

        &.disappear {
            :global {
                animation: slideOutDown 0.4s both;
            }
        }
    }
}

:global(.desktop),
:global(.mobile-landscape) {
    .menu-content {
        height: 100%;
        width: 36rem;
        top: 0;

        &.layout-1 {
            left: 0;

            box-shadow: 0.4rem 0 1.2rem rgba(0, 0, 0, 0.3);

            &:global {
                animation: slideInLeft 0.5s both;
            }

            &.disappear {
                :global {
                    animation: slideOutLeft 0.4s both;
                }
            }
        }

        &.layout-2,
        &.layout-3 {
            right: 0;

            box-shadow: -0.4rem 0 1.2rem rgba(0, 0, 0, 0.3);

            &:global {
                animation: slideInRight 0.5s both;
            }

            &.disappear {
                :global {
                    animation: slideOutRight 0.4s both;
                }
            }
        }
    }
}
