.layout {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    z-index: var(--layer-game);
}

.main-wrapper {
    flex: 1;
    display: grid;
    grid-template-columns: calc(2.4rem + var(--size-button)) 1fr calc(2.4rem + var(--size-button));
}

.main {
    flex: 1;
    overflow: hidden;
}

.bottom,
.left,
.right {
    flex-shrink: 0;
}

.left,
.right {
    padding-bottom: 0.8rem;
}

.top {
    position: absolute;
    top: 0;
    height: calc(var(--height-streaming) * 1px);
    padding-bottom: 1.5rem;
}

:global(.mobile-portrait) {
    .offset-streaming {
        padding-top: calc(var(--height-streaming) * 1px);
    }
}
