.streaming {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-container {
    width: 100%;
    aspect-ratio: 16 / 9;
}

.mobile-portrait {
    &.streaming {
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 1;
    }

    .video-container {
        position: relative;
        background-color: black;
        flex-shrink: 0;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 39%;
            background: var(--streaming-color-2);
            z-index: 1;
        }

        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 39%;
            background: var(--streaming-color-3);
            z-index: 1;
        }
    }

    .video-background {
        flex: 1;
        width: 100%;
        background-image: var(--streaming-color-1);
    }
}

.desktop,
.mobile-landscape {
    .video-container {
        position: absolute;
        left: 50%;
        bottom: calc(var(--height-footer));

        transform: translateX(-50%);

        &::after,
        &::before {
            content: '';
            position: absolute;
            bottom: calc(var(--height-footer) * -1);
            height: calc(100% + var(--height-footer));
            width: 18%;
            z-index: 1;
        }

        &::before {
            left: 0;
            background: var(--streaming-color-4);
        }

        &::after {
            right: 0;
            background: var(--streaming-color-5);
        }
    }

    .video-background {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 31%;

        background: var(--streaming-color-6);
    }
}
