.streaming {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: var(--layer-streaming);
}

.video-container {
    aspect-ratio: 16 / 9;
}

:global(.mobile-portrait) {
    .streaming {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .video-container {
        position: relative;
        background-color: black;
        flex-shrink: 0;
        width: calc(100% * var(--streaming-scale-portrait));

        &::before,
        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: var(--height-overlay-streaming-portrait);
            mask-image: linear-gradient(transparent, #000);
            z-index: 1;
        }

        &::before {
            background: var(--streaming-color-2);
        }

        &::after {
            background: var(--streaming-color-3);
        }
    }

    .video-background {
        height: calc(100% + 0.2rem);
        width: calc(100% + 0.5rem);
        background-image: var(--streaming-color-1);
        transform: translateY(-0.2rem);
    }
}

:global(.desktop),
:global(.mobile-landscape) {
    .streaming {
        display: flex;
    }

    .letter-box {
        .video-container {
            height: calc(100% - var(--height-footer));
        }
    }

    .non-letter-box {
        .video-container {
            width: 100%;
        }
    }

    .full {
        .video-container {
            height: 100%;
        }
    }

    .left,
    .right {
        flex: 1;
        z-index: 1;
        // height: calc(100% - var(--height-footer));
    }

    .left {
        background: var(--streaming-color-7);
    }

    .right {
        background: var(--streaming-color-8);
    }

    .video-container {
        flex-shrink: 0;

        position: relative;
        // position: absolute;
        // left: 50%;
        // bottom: calc(var(--height-footer));
        // transform: translateX(-50%);
    }

    .video-right,
    .video-left {
        // content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        // bottom: calc(var(--height-footer) * -1);
        // height: calc(100% + var(--height-footer));
        width: var(--width-overlay-streaming-landscape);
        z-index: 1;

        &::before {
            content: '';
            position: absolute;
            inset: 0;
        }
    }

    .video-left {
        left: 0;
    }

    .video-right {
        right: 0;
    }

    .video-left,
    .video-left::before {
        background: var(--streaming-color-4);
    }

    .video-right,
    .video-right::before {
        background: var(--streaming-color-5);
    }

    .video-background {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: var(--height-overlay-streaming-landscape);

        background: var(--streaming-color-6);

        &::before {
            content: '';
            position: absolute;
            inset: 0;
            background: var(--streaming-color-6);
        }
    }

    .full {
        .video-background {
            height: 0;
        }
    }
}
