.container {
    flex-shrink: 0;
    margin-top: 0.8rem;
    display: flex;
    justify-content: center;
}

.button {
    display: flex;
    align-items: center;
    padding: 0;
    gap: 0.4rem;

    opacity: 0;
}

.show {
    pointer-events: default;
    animation: showAnimation 0.2s both;
}

.hide {
    pointer-events: none;
    animation: hideAnimation 0.2s both;
}

.button svg {
    width: 1.4rem;
    height: 1.4rem;
}

.text {
    color: #00c3d8;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 0.012rem;
    text-transform: capitalize;
}

:global(.desktop) {
    .button svg {
        width: 1.8rem;
        height: 1.8rem;
    }

    .text {
        font-size: 1.5rem;
    }
}

@keyframes showAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes hideAnimation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
