.container {
    flex-shrink: 0;
    margin-block-start: 0.8rem;
    display: flex;
    justify-content: center;
}

.button {
    display: flex;
    align-items: center;
    padding: 0;
    gap: 0.4rem;

    opacity: 0;
    visibility: hidden;

    &.show {
        animation: showAnimation 0.2s forwards;
    }

    &.hide {
        animation: hideAnimation 0.2s forwards;
    }
}

.button svg {
    width: 1.4rem;
    height: 1.4rem;
}

.button span {
    color: #00c3d8;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 0.012rem;
}

@keyframes showAnimation {
    0% {
        visibility: hidden;
        opacity: 0;
    }
    1% {
        visibility: visible;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes hideAnimation {
    0% {
        visibility: visible;
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
