.switch {
    position: relative;
    display: inline-block;
    width: 4.4rem;
    height: 2.8rem;
    background: none;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2c2d3f;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 1.4rem;
    border: 0.1rem rgba(94, 95, 115, 0.1) solid;
}

.slider:before {
    position: absolute;
    content: '';
    height: 2rem;
    width: 2rem;
    left: 0.3rem;
    bottom: 0.3rem;
    background-color: #5e5f73;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
    box-shadow: 0px 0.2rem 0.4rem rgba(0, 0, 0, 0.16);
}

input:checked + .slider {
    background-color: var(--cyan, #00c3d8);
}

input:checked + .slider:before {
    background-color: #fff;
    transform: translateX(1.6rem);
}
