.panel-top {
    height: 100%;

    padding-left: 0.8rem;
    padding-right: 0.8rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 0.8rem;
}
