.content {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
}

.text {
    font-size: 1.2rem;
    text-align: center;
}

:global(.mobile-portrait) {
    .content {
        height: 20rem;
    }
}
