
.menu-history-mainframe {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    background: #1e1f2e;
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    animation: settingsmenu-slideup .6s linear forwards
}

.landscape-menu-history-mainframe {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: #1e1f2e;
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    animation: settingsmenu-slideleft .6s linear forwards;
    box-sizing: border-box
}

.history-table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    margin: 5px 0 0;
    color: #fff;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
}

.history-table th {
    font-family: Manrope;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: .5px
}

.history-table th,.history-table td {
    border: .3px #4c4d66 solid;
    padding-top: 3px;
    padding-bottom: 3px;
    padding: 0 1.2rem;
    white-space: nowrap;
    height: 2.5rem;
}

.history-table th,.history-table td:not(:first-child){
text-align: center;
}

.history-table th:first-child {
    border-top-left-radius: 8px
}

.history-table th:last-child {
    border-top-right-radius: 8px
}

.history-table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 8px
}

.history-table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 8px
}