.item {
    flex: 1;
    flex-shrink: 0;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 0.1rem solid transparent;
    border-bottom: 0.1rem solid #2b2c3d;
    transition: all 0.2s linear;

    &.active {
        border-bottom: 0.1rem solid #00c3d8;
        transition: all 0.2s linear;
    }
}

.item-text {
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: capitalize;
}

:global(.desktop) {
    .item-text {
        font-size: 1.32rem; // 1.2rem;
    }
}
