.text,
.stroke {
    font-family: 'Inter', sans-serif;
    fill: #fff;
    text-align: center;

    font-size: 12.5px;
    font-style: normal;
    font-weight: 800;
    letter-spacing: -0.25px;
    line-height: normal;
}
