:global(.mobile-portrait),
:global(.mobile-landscape) {
    .container {
        width: 2.4rem;
        height: 3.1rem;
        font-size: 2.4rem;
    }
}

:global(.desktop) {
    .container {
        width: 4.8rem;
        height: 6.2rem;
        font-size: 4.8rem;
    }
}

.card-core,
.card-core-detail {
    transform-style: preserve-3d;
}

.card-cover {
    backface-visibility: hidden;
}

.card-value {
    backface-visibility: hidden;
    transform: rotateY(180deg);
}
.card-slot {
    animation: none;
    opacity: 0;
}
.card-slot.appear {
    animation: cardpush 0.65s linear forwards;
}

.card-slot.disappear {
    animation: cardpull 0.65s linear forwards;
}

@keyframes cardpush {
    0% {
        transform: translate(0);
        opacity: 0;
    }

    55% {
        opacity: 1;
    }

    65% {
        transform: translateY(120%);
        opacity: 1;
    }

    to {
        transform: translateY(120%);
        opacity: 1;
    }
}

@keyframes cardpull {
    0% {
        transform: translateY(120%);
        opacity: 1;
    }

    55% {
        opacity: 0;
    }

    65% {
        opacity: 0;
        transform: translate(0);
    }

    to {
        opacity: 0;
        transform: translate(0);
    }
}

.card-core {
    animation: flipdown 0.65s linear both;
}

.card-core.flipup {
    animation: flipup 0.65s linear both;
}

.card-core.flipup .card-cover {
    transition-delay: 0.35s;
    transition-property: display;
    // display: none;
}

@keyframes flipup {
    0% {
        transform: rotateY(0);
    }

    45% {
        transform: rotateY(180deg);
    }

    to {
        transform: rotateY(180deg);
    }
}

@keyframes flipdown {
    0% {
        transform: rotateY(180deg);
    }

    45% {
        transform: rotateY(0);
    }

    to {
        transform: rotateY(0);
    }
}
