.container {
    position: absolute;
    top: 0;
    right: 0;
    padding: 2rem;
    z-index: var(--layer-game);

    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.4rem;
}

.limit {
    font-size: 2rem;
    font-weight: 800;
    // letter-spacing: -0.22px;
}

.game {
    display: flex;
    gap: 0.6rem;
    font-size: 1.6rem;
    font-weight: 600;
}

.period {
    color: #ccc;
}
