.payout-note {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    margin-top: 1rem;

    border-radius: 0.5rem;
    border: 0.05rem solid rgba(255, 199, 0, 0.12);
    background-color: rgba(255, 199, 0, 0.05);

    font-size: 1rem;

    &-title {
        color: #ffc700;
        font-weight: 400;
        text-transform: capitalize;
    }
}
