.dragon {
    .slot-chip {
        left: 20%;
    }
}

.tiger {
    .slot-chip {
        left: 80%;
    }
}

.super-wild {
    .slot-chip {
        top: 65%;
        left: 20%;
    }
}

.tie {
    .slot-chip {
        top: 35%;
        left: 80%;
    }
}

.dragon-wild {
    .slot-chip {
        left: 70%;
    }
}

.dragon-pair {
    .slot-chip {
        left: 70%;
    }
}

.tiger-wild {
    .slot-chip {
        left: 30%;
    }
}

.tiger-pair {
    .slot-chip {
        left: 30%;
    }
}
