@use 'chip-position.scss';

.content {
    width: 100%;
    height: 100%;
}

.dragon-wild .content,
.dragon-pair .content,
.dragon .content {
    display: flex;
    gap: 0.3rem;
    align-items: center;
}

.tiger-wild .content,
.tiger-pair .content,
.tiger .content {
    display: flex;
    gap: 0.3rem;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row-reverse;
}

.dragon .content,
.tiger .content {
    align-items: flex-end;
}

.super-wild .content,
.tie .content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.4rem;
}

.super-wild {
    position: relative;
}

.top.left,
.middle.left,
.bottom.left {
    background: linear-gradient(270deg, #f30049 -0.72%, #69001f 100%);
    /* border: 0.1rem solid #f30049; */
}

.top.right,
.middle.right,
.bottom.right {
    background: linear-gradient(270deg, #8c5400 0%, #ffc65b 100%);
    /* border: 0.1rem solid #ffb72c; */
}

.top,
.middle,
.bottom {
    position: relative;
    overflow: hidden;
    border-radius: 0.4rem;
}

.shadow-center {
    position: absolute;
    inset: 0;
}

.shadow-center::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 0.4rem;
    border: 0.1rem solid #f30049;
}

.right .shadow-center::before {
    border-color: #ffb72c;
}

.right .shadow-center::after {
    background: #d69729;
}

.left .shadow-center::after {
    background: #bc0038;
}

.middle.left {
    margin-right: var(--center-half);
    width: calc((var(--width) - 0.2rem) / 2 - var(--center-half));
    border-radius: 0.4rem 0 0 0.4rem;
}

.middle.right {
    margin-left: var(--center-half);
    width: calc((var(--width) - 0.2rem) / 2 - var(--center-half));
    border-radius: 0 0.4rem 0.4rem 0;
}

.shadow-center::after {
    content: '';
    position: absolute;
    height: 14.4rem;
    width: 14.4rem;
    border-radius: 50%;
}

.top.left .shadow-center::after {
    top: 100%;
    left: 100%;
    translate: -7.1rem -2rem;
}

.bottom.left .shadow-center::after {
    bottom: 100%;
    left: 100%;
    translate: -7.1rem 2rem;
}

.middle.left .shadow-center::after {
    top: 50%;
    left: 100%;
    translate: -2.8rem -50%;
}

.top.right .shadow-center::after {
    top: 100%;
    right: 100%;
    translate: 7.1rem -2rem;
}

.bottom.right .shadow-center::after {
    bottom: 100%;
    right: 100%;
    translate: 7.1rem 2rem;
}

.middle.right .shadow-center::after {
    top: 50%;
    right: 100%;
    translate: 2.8rem -50%;
}

.super-wild {
    position: relative;
    height: 100%;
    width: 13rem;
}

.super-wild svg,
.tie svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.tie {
    position: relative;
    height: 100%;
    width: 13rem;
}

.dragon-back,
.tiger-back {
    position: absolute;
    bottom: 0;

    width: 7.2rem;
    height: 8rem;
}

.dragon-back {
    left: 0;

    svg {
        width: 100%;
        height: 100%;
    }
}

.tiger-back {
    right: 0;

    svg {
        width: 100%;
        height: 100%;
    }
}

.dragon-wild,
.tiger-wild,
.dragon-pair,
.tiger-pair,
.dragon,
.tiger {
    padding: 0.8rem 1rem;
}

.bet-name {
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
}

.bet-payout {
    font-size: 1rem;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.75);
}

.slot-card {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
}

.slot-chip {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
}

:global(.mobile-portrait) {
    .slot-chip {
        $size: 7cqw;

        width: $size;
        height: $size;
        font-size: $size;
    }
}

:global(.mobile-landscape) {
    .slot-chip {
        $size: 7.5cqh;

        width: $size;
        height: $size;
        font-size: $size;
    }
}

:global(.desktop) {
    .slot-chip {
        $size: 4.4cqh;

        width: $size;
        height: $size;
        font-size: $size;
    }

    .super-wild,
    .tie {
        width: 26rem;
    }

    .shadow-center::after {
        content: '';
        position: absolute;
        height: 28rem;
        width: 28rem;
        border-radius: 50%;
    }

    .top.left .shadow-center::after {
        translate: -14rem -5.3rem;
    }

    .bottom.left .shadow-center::after {
        translate: -14rem 5.3rem;
    }

    .middle.left .shadow-center::after {
        translate: -5rem -50%;
    }

    .top.right .shadow-center::after {
        translate: 14rem -5.3rem;
    }

    .bottom.right .shadow-center::after {
        translate: 14rem 5.3rem;
    }

    .middle.right .shadow-center::after {
        translate: 5rem -50%;
    }

    .bet-name,
    .bet-payout {
        font-size: 1.6rem;
    }

    .dragon-wild,
    .tiger-wild,
    .dragon-pair,
    .tiger-pair,
    .dragon,
    .tiger {
        padding: 0.8rem 2rem;
    }

    .dragon-wild .content,
    .dragon-pair .content,
    .dragon .content,
    .tiger-wild .content,
    .tiger-pair .content,
    .tiger .content {
        gap: 1rem;
    }

    .dragon-back,
    .tiger-back {
        width: 14.4rem;
        height: 16rem;
    }
}
:global :local(.table-win-blink) {
    animation: buttonWinBlinkBrightness 0.75s reverse ease-in-out;
    animation-iteration-count: infinite;
    animation-delay: 5s;
}

.table-lose-opacity {
    transition: opacity;
    transition-delay: 5s;
    opacity: 0.6;
}
