.container {
    position: relative;
    aspect-ratio: 0.76;
}

.container > svg {
    width: 100%;
    height: 100%;
}

.value {
    position: absolute;
    top: 0.1em;
    left: 0.1em;
    font-weight: 700;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 0.6em;
}
