.timer {
    position: absolute;

    width: 5.5rem;
    height: 5.5rem;

    overflow: visible;
}

:global :local(.timer) {
    animation: zoomIn 0.3s both;

    &:local(.disappear) {
        animation: zoomOut 0.3s both;
    }
}

.text {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;

    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: -0.1rem;
}

:global(.mobile-portrait) {
    .timer {
        top: var(--timer-portrait-top);
        left: var(--timer-portrait-left);

        translate: var(--timer-portrait-trans-x) var(--timer-portrait-trans-y);
    }
}

:global(.desktop),
:global(.mobile-landscape) {
    .timer {
        top: var(--timer-landscape-top);
        left: var(--timer-landscape-left);

        translate: var(--timer-landscape-trans-x) var(--timer-landscape-trans-y);
    }
}
