.timer {
    position: absolute;

    overflow: visible;
}

:global :local(.timer) {
    animation: zoomIn 0.3s both;

    &:local(.disappear) {
        animation: zoomOut 0.3s both;
    }
}

.text {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}

:global(.mobile-portrait) {
    .timer {
        top: var(--timer-portrait-top);
        left: var(--timer-portrait-left);

        translate: var(--timer-portrait-trans-x) var(--timer-portrait-trans-y);
    }
}

:global(.mobile-landscape) {
    .timer {
        top: var(--timer-landscape-top);
        left: var(--timer-landscape-left);

        translate: var(--timer-landscape-trans-x) var(--timer-landscape-trans-y);
    }
}

:global(.mobile-portrait),
:global(.mobile-landscape) {
    .timer {
        width: 5.5rem;
        height: 5.5rem;
    }

    .text {
        font-size: 2.4rem;
        font-weight: 700;
        letter-spacing: -0.1rem;
    }
}

:global(.desktop) {
    .timer {
        width: 9.6rem;
        height: 9.6rem;

        left: 50%;
        top: var(--timer-desktop-top);
        translate: -50% 0;
    }

    .text {
        font-size: 4rem;
        font-weight: 800;
        letter-spacing: -0.14rem;
    }
}
