.timer {
    --scale: 1;

    position: absolute;

    width: 5.5rem;
    height: 5.5rem;

    overflow: visible;
}

.timer-text {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: -0.1rem;
}

.mobile-portrait {
    &.timer {
        top: var(--timer-portrait-top);
        left: var(--timer-portrait-left);

        transform: translateX(var(--timer-portrait-trans-x))
            translateY(var(--timer-portrait-trans-y)) scale(var(--scale));

        animation: time-popup 0.35s linear forwards;

        &.disappear {
            --scale: 0;
            animation: time-hide 0.35s linear forwards;
        }
    }
}

.mobile-landscape {
    &.timer {
        top: var(--timer-landscape-top);
        left: var(--timer-landscape-left);

        transform: translateX(var(--timer-landscape-trans-x))
            translateY(var(--timer-landscape-trans-y));

        animation: time-popup-2 0.35s linear forwards;

        &.disappear {
            animation: time-hide-2 0.35s linear forwards;
        }
    }
}

@keyframes time-popup {
    0% {
        transform-origin: center;
        transform: translateX(var(--timer-portrait-trans-x))
            translateY(var(--timer-portrait-trans-y)) scale(0);
    }

    100% {
        transform-origin: center;
        transform: translateX(var(--timer-portrait-trans-x))
            translateY(var(--timer-portrait-trans-y)) scale(1);
    }
}

@keyframes time-hide {
    0% {
        transform-origin: center;
        transform: translateX(var(--timer-portrait-trans-x))
            translateY(var(--timer-portrait-trans-y)) scale(1);
    }

    100% {
        transform-origin: center;
        transform: translateX(var(--timer-portrait-trans-x))
            translateY(var(--timer-portrait-trans-y)) scale(0);
    }
}

@keyframes time-popup-2 {
    0% {
        transform-origin: center;
        transform: scale(0);
    }

    100% {
        transform-origin: center;
        transform: translateX(var(--timer-landscape-trans-x))
            translateY(var(--timer-landscape-trans-y)) scale(1);
    }
}

@keyframes time-hide-2 {
    0% {
        transform-origin: center;
        transform: translateX(var(--timer-landscape-trans-x))
            translateY(var(--timer-landscape-trans-y)) scale(1);
    }

    100% {
        transform-origin: center;
        transform: translateX(var(--timer-landscape-trans-x))
            translateY(var(--timer-landscape-trans-y)) scale(0);
    }
}
