.button-action {
    padding: 0;
    background-color: transparent;
    border: 0;
    outline: 0;

    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    transition: all 0.3s linear;

    align-items: center;

    width: var(--button-action-size);

    &.disapear {
        transition: all 0.3s linear;
    }
}

.icon {
    display: flex;
    width: var(--button-action-size);
    height: var(--button-action-size);
    justify-content: center;
    align-items: center;

    border-radius: 0.8rem;
    border: 0.1rem solid rgba(255, 255, 255, 0.24);
    background-color: rgba(0, 0, 0, 0.32);
    transition: all 0.2s linear;
    backdrop-filter: blur(0.35rem);

    &.circle {
        border-radius: 100%;
    }

    svg {
        width: 57.8%;
        height: 57.8%;
    }
}

.text {
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--gray);
    white-space: nowrap;
    text-transform: capitalize;
    width: 100%;

    display: flex;
    justify-content: center;

    & > P {
        width: 100%;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

:global(.mobile-portrait) {
    .button-action {
        &.disapear {
            --opacity: 0.2;
        }
    }

    .text {
        width: calc(100% + 0.8rem);
    }
}

:global(.desktop),
:global(.mobile-landscape) {
    .button-action {
        &.disapear {
            --opacity: 0;
        }
    }

    .text {
        width: calc(100% + 1.2rem);
    }
}
