.right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

    padding-left: 0.8rem;
    padding-right: 0.8rem;
}

.game {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.total-bet {
    display: flex;
    gap: 0.2rem;
}

.text-1 {
    color: #ccc;
    font-size: 0.9rem;
    font-weight: 500;
}

.text-2 {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.9rem;
    font-weight: 500;
    text-shadow:
        0.1rem 0.1rem 0.4rem rgba(0, 0, 0, 0.7),
        -0.1rem -0.1rem 0.4rem rgba(0, 0, 0, 0.7);
}

.text-5 {
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: -0.02rem;
    color: var(--cyan);
}

.text-4 {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: -0.02rem;
    text-transform: capitalize;
}
