

.container {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    gap: 1rem;
}



.item {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 1rem;
    justify-content: space-around;
}