.container {
    position: relative;
}

.selected {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    height: 3rem;

    border-radius: 0.8rem;
    border: 0.1rem solid rgba(94, 95, 115, 0.15);
    background: #2c2d3f;
}

.text {
    font-size: 1.3rem;
    font-weight: 500;
}

.select {
    background-color: red;
    position: absolute;
    inset: 0;
    border: 0;
    outline: 0;
    opacity: 0;
}

.icon {
    flex: 0 1 1.8rem;
}

.icon,
.arrow {
    flex: 0 1 1.8rem;
    width: 1.8rem;
    height: 1.8rem;
}
