.footer {
    flex-shrink: 0;
    height: var(--height-footer);

    display: flex;
    line-height: 1.5;
}

:global(.mobile-portrait) {
    .footer {
        position: relative;
        justify-content: space-between;
        background: var(--bg-footer);
    }
}

:global(.mobile-landscape) {
    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;

        justify-content: space-between;

        z-index: 1;
    }
}
