.footer {
    flex-shrink: 0;
    height: var(--height-footer);
    background: var(--bg-footer);

    display: flex;
    // gap: var(--width-total-bet);
}

.mobile-portrait {
    &.footer {
        justify-content: space-between;
    }
}

.desktop,
.mobile-landscape {
    &.footer {
        gap: var(--width-total-bet);
    }
}
