.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    border-radius: 0.8rem;
    border: 0.1rem solid #343547;
    background-color: #2c2d3f;

    overflow: hidden;
}
