.panel-bottom {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    width: 100%;
}

.button-action-wrapper {
    display: flex;
    gap: 0.8rem;
}

.middle {
    position: absolute;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.middle-left,
.middle-right {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    align-items: flex-start;
    gap: 0.8rem;
}

.middle-left {
    right: 100%;
    margin-right: 0.8rem;
}

.middle-right {
    left: 100%;
    margin-left: 0.8rem;
}
