.content-empty {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.message {
    text-transform: capitalize;
    font-size: 1.1rem;
}
