.menu-footer {
    flex-shrink: 0;
    padding: 1.2rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-footer-logo {
    width: 8rem;
}

.menu-footer-copyright {
    color: #47485a;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.016rem;
}
