.table-wrapper {
    width: 100%;
    overflow-x: auto;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    background-color: #000;
    border: 0.06rem solid #4c4d66;
}

.table {
    width: 100%;
    border-collapse: collapse;

    font-size: 0.8rem;
    font-weight: 600;

    border: 0.06rem solid #4c4d66;

    thead tr {
        background-color: #2b2d3d;
    }

    tbody {
        background-color: #161623;
    }

    th,
    td {
        border: 0.06rem solid #4c4d66;
        padding: 0.8rem 0.4rem;
        white-space: nowrap;
        min-height: 2.5rem;
    }

    th {
        font-size: 0.9rem;
        font-weight: 400;
    }

    td:nth-child(1) {
        min-width: 5rem;
    }
}

.name {
    word-wrap: break-word;
    white-space: normal;
    font-weight: normal;
    text-align: center;
    font-size: 0.8rem;
}

.desc {
    word-wrap: break-word;
    white-space: normal;
    font-weight: normal;
    text-align: center;
    font-size: 0.8rem;
}

.break {
    word-wrap: break-word;
    white-space: normal;
}
