// .content {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
// }

.content p {
    font-size: 1.2rem;
    line-height: normal;
    letter-spacing: 0.012rem;
    text-align: center;
}
