.main {
    flex: 1;
    overflow-y: auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 9rem;
    column-gap: 0.8rem;
    row-gap: 0.8rem;

    padding: 0.8rem;
}
