.chip {
    --opacity: 1;

    position: relative;
    border-radius: 9999px;
    overflow: hidden;
    opacity: var(--opacity);
    transition: opacity 0.4s linear;

    &.show {
        --opacity: 0.3;

        transition: opacity 0.4s linear;
    }
}

.chip > svg,
.chip-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.chip-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.chip-text {
    font-size: 0.35em;
    font-weight: 700;
    letter-spacing: -0.0644rem;
    white-space: nowrap;
    position: relative;
    z-index: 1;

    &::before {
        content: attr(data-value);
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;

        background: linear-gradient(180deg, var(--color) 0%, var(--color) 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 800;
        font-size: 0.35em;
        white-space: nowrap;
    }
}

.chip-light {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;

    width: 90%;
    height: 90%;

    background: linear-gradient(
        135deg,
        transparent 0%,
        transparent 40%,
        rgba(255, 255, 255, 0.45) 40%,
        rgba(255, 255, 255, 0.45) 50%,
        transparent 50%,
        transparent 56%,
        rgba(255, 255, 255, 0.45) 56%,
        rgba(255, 255, 255, 0.45) 62%,
        transparent 62%,
        transparent 100%
    );
    background-size: 200% 100%;
    background-position: 0% 50%;
    opacity: 0;
    border-radius: 9999px;

    &.run-chip-light {
        animation: chip-light-animation 0.6s linear 2;
    }
}

@keyframes chip-light-animation {
    0% {
        background-position: 100% 50%;
        opacity: 1;
    }
    80% {
        background-position: 0% 50%;
        opacity: 1;
    }
    81% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes place-chip-animation {
    0% {
        opacity: 0;
        transform: scale(0.85) translateY(-1rem);
    }
    100% {
        opacity: var(--opacity);
        transform: scale(1) translateY(0);
    }
}
