.table-bet {
    width: 100%;

    display: grid;
    justify-items: center;
    align-items: center;

    container: table-bet / size;
}

.container-multi-cols {
    display: flex;
    width: 100%;
    height: 100%;
}

.table-bet,
.container-multi-cols {
    gap: 0.1rem;
}

:global(.mobile-portrait) {
    .table-bet {
        --translate-x: 0;
        --translate-y: 0;
        --scale: 1;
        --opacity: 1;

        height: 100%;

        grid-template-columns: repeat(6, minmax(0px, 1fr));
        grid-template-rows: repeat(9, minmax(0px, 1fr));

        transform: translateX(var(--translate-x)) translateY(var(--translate-y)) scale(var(--scale));
        opacity: var(--opacity);
        transform-origin: bottom;
        transition:
            transform 0.75s,
            opacity 0.75s;

        &.opened {
            --translate-x: 0;
            --translate-y: 0;
            --scale: 1;
            --opacity: 1;
        }

        &.closed {
            --translate-x: 0;
            --translate-y: 0;
            --scale: 1;
            --opacity: 1;
        }
    }

    .container-multi-cols {
        grid-row: 2 / span 6;
        grid-column: 6;

        flex-direction: column;
    }
}

:global(.mobile-landscape) {
    .table-bet {
        --perspective: 100rem;

        --translate-x: 0;
        --translate-y: 2rem;
        --scale: 1;
        --opacity: 1;
        --rotate-x: 0;

        --scale-close: 0.5;
        --opacity-close: 0.5;
        --translate-x-close: 0;
        --translate-y-close: 7rem;
        --rotate-x-close: 46deg;

        height: 100%;

        grid-template-columns: repeat(9, minmax(0px, 1fr));
        grid-template-rows: repeat(6, minmax(0px, 1fr));

        transform: translateX(var(--translate-x)) translateY(var(--translate-y)) scale(var(--scale))
            perspective(var(--perspective)) rotateX(var(--rotate-x));
        opacity: var(--opacity);
        transform-origin: bottom;
        transition:
            transform 0.75s,
            opacity 0.75s;

        --scale-close: 0.7;
        --opacity-close: 0.9;
        --translate-x-close: 0;
        --translate-y-close: 4.2rem;
        --rotate-x-close: 45deg;

        &.opened {
            --translate-x: 0;
            --translate-y: 0;
            --scale: 1;
            --opacity: 1;
            --rotate-x: 0;
        }

        &.closed {
            --translate-x: 0;
            --translate-y: 4.2rem;
            --scale: 0.5;
            --opacity: 0.5;
            --rotate-x: 46deg;

            &.win-state {
                --opacity: 1;
            }
        }
    }

    .container-multi-cols {
        grid-column: 2 / span 6;
        grid-row: 6;
    }
}

:global(.desktop) {
    .table-bet {
        --perspective: 100rem;

        --translate-x: 0;
        --translate-y: 2rem;
        --scale: 1;
        --opacity: 1;
        --rotate-x: 0;

        height: 100%;

        grid-template-columns: repeat(9, minmax(0px, 1fr));
        grid-template-rows: repeat(6, minmax(0px, 1fr));

        transform: scale(var(--scale)) perspective(var(--perspective)) rotateX(var(--rotate-x));
        opacity: var(--opacity);
        transform-origin: bottom;
        transition:
            transform 0.75s,
            opacity 0.75s;

        &.opened {
            --scale: 1;
            --opacity: 1;
            --rotate-x: 0;
        }

        &.closed {
            --scale: 1;
            --opacity: 0.5;
            --rotate-x: 36deg;

            &.win-state {
                --opacity: 1;
            }
        }
    }

    .container-multi-cols {
        grid-column: 2 / span 6;
        grid-row: 6;
    }
}
