.table-wrapper {
    width: 100%;
    overflow-x: auto;
    border-radius: 0.5rem 0.5rem;
    background-color: #000;
    border: 0.06rem solid #4c4d66;
}

.table {
    width: 100%;
    border-collapse: collapse;

    font-size: 1rem;
    font-weight: 600;
    border: 0.06rem solid #4c4d66;
    border-radius: 0.5rem 0.5rem;

    // border: 0.06rem solid #4c4d66;

    tr > td:nth-child(1) {
        background-color: #2b2d3d;
        max-width: 4rem !important;
    }

    tr td {
        background-color: #161623;
    }

    th,
    td {
        border: 0.06rem solid #4c4d66;
        padding: 0 0.5rem;
        white-space: nowrap;
        height: 2.5rem;
        text-align: center;
    }

    td {
        // max-width: 1.5rem;
        p {
            display: block;
            height: fit-content;
            word-wrap: break-word;
            white-space: normal;
        }
    }

    th:nth-child(1) {
        p {
            padding: 0.72rem 0;
            display: block;
            height: fit-content;
            word-wrap: break-word;
            white-space: normal;
            width: 3rem;
        }
    }

    td:nth-child(1) {
        width: 5%;
    }

    th {
        font-size: 1rem;
        font-weight: 600;
    }

    tr.win {
        background: rgba(59, 232, 0, 0.16);
    }

    td.shading {
        background: var(--bg-shading);
    }

    td.card {
        height: 6.5rem;
    }
}

.bigger {
    font-size: 1.1rem;
}

.muted {
    color: #4c4d66;
}

.text-center {
    text-align: center;
}

.item-number {
    width: 1.8rem;
    height: 1.4rem;
    border-radius: 9999px;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    font-size: 0.8rem;
    font-weight: 700;
}
