.app {
    --red: #e40044;
    --black: #000;

    // betting panel
    --bg-button-number-red-1: #ffffff;
    --bg-button-number-red-2: #fff1d6;

    --bg-button-number-black-1: #fff6e3;
    --bg-button-number-black-2: #ffe6b2;

    --bg-button-col-row-1: #ffe6b2;
    --bg-button-col-row-2: #e0b869;

    --bg-button-red-1: #f30049;
    --bg-button-red-2: #8c012b; // #790126;

    --bg-button-black-1: #ffb01c;
    --bg-button-black-2: #9c5e00; // #af6b06;
}

.text-red {
    color: var(--red);
}

.text-green {
    color: var(--green);
}

.bg-red {
    background-color: var(--red);
}

.bg-black {
    background-color: var(--black);
}
