.example {
    border: 0.1rem solid #343547;
    padding: 0.8rem;

    border-radius: 0.4rem;
    margin-top: 1rem;
}

.result {
    background-color: #2c2d3f;
    padding: 0.1rem 0.8rem;
    border-radius: 0.4rem;
    margin-top: 0.8rem;
}

.winnings {
    font-weight: 400;
    color: #d93025;
}
