@import './position.scss';

.button-bet {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: all 1s linear;
}

.win {
    border: 0.1rem solid #83ff48 !important;
    animation: win-glow 1s infinite ease-in-out;
    z-index: 2;
}

.bet-number,
.bet-col-row,
.bet-red,
.bet-yellow {
    border-radius: 0.1rem;
}

.bet-number {
    border: 0.1rem solid #f3d8a4;
    background: linear-gradient(180deg, #fff 0%, #ffe5b2 100%);
}

.bet-col-row {
    border: 0.1rem solid #e0b869;
    background: linear-gradient(180deg, #ffe6b2 0%, #e0b869 100%);
}

.bet-red {
    border: 0.1rem solid #f30049;
    background: linear-gradient(0deg, #59001b 0.33%, #f30049 99.67%);
}

.bet-yellow {
    border: 0.1rem solid #ffb01c;
    background: linear-gradient(0deg, #8c5400 0%, #ffb01c 100%);
}

.slot-small {
    border-top-left-radius: 0.4rem;
}

.slot-big {
    border-top-right-radius: 0.4rem;
}

.slot-odd {
    border-bottom-left-radius: 0.4rem;
}

.slot-black {
    border-bottom-right-radius: 0.4rem;
}

.slot-chip {
    pointer-events: none;

    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-portrait {
    .slot-chip {
        width: calc(100cqw / 8 * 65 / 100);
        height: calc(100cqw / 8 * 65 / 100);
        font-size: calc(100cqw / 8 * 65 / 100);
    }
}

.desktop,
.mobile-landscape {
    .slot-chipx {
        width: calc(100cqh / 7 * 65 / 100);
        height: calc(100cqh / 7 * 65 / 100);
        font-size: calc(100cqh / 7 * 65 / 100);
    }
}

// position
@include button-bet-position;

@keyframes win-glow {
    0% {
        box-shadow:
            0 0 0.1rem #83ff48,
            0px 0px 0 0px #83ff48 inset;
    }
    50% {
        box-shadow:
            0 0 0.1rem #83ff48,
            0px 0px 0.8rem 0px #83ff48 inset;
    }
    100% {
        box-shadow:
            0 0 0.1rem #83ff48,
            0px 0px 0 0px #83ff48 inset;
    }
}

// .button-bet {
//     @for $row from 1 through 4 {
//         @for $col from 1 through 5 {
//             &.slot-h-#{$row}-#{$col} {
//                 background-color: blue;
//             }
//         }
//     }

//     @for $row from 1 through 3 {
//         @for $col from 1 through 6 {
//             &.slot-v-#{$row}-#{$col} {
//                 background-color: red;
//             }
//         }
//     }

//     @for $row from 1 through 3 {
//         @for $col from 1 through 5 {
//             &.slot-v-h-#{$row}-#{$col} {
//                 background-color: green;
//             }
//         }
//     }
// }
