@import './position.scss';

.button-bet {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: all 0.5s linear;
}

.lose {
    opacity: 0.5;
}

:global :local(.win .background) {
    animation: buttonWinBlinkOpacity 0.75s reverse ease-in-out;
    animation-iteration-count: infinite;
}

.background {
    width: 100%;
    height: 100%;
}

.bet-number-red,
.bet-number-black,
.bet-col-row,
.bet-red,
.bet-black {
    .background {
        border-radius: 0.2rem;
    }
}

.bet-number-red .background {
    border: 0.1rem solid var(--bg-button-number-red-1);
    background: linear-gradient(
        var(--gradient-angle),
        var(--bg-button-number-red-1) 0%,
        var(--bg-button-number-red-2) 100%
    );
}

.bet-number-black .background {
    border: 0.1rem solid var(--bg-button-number-black-1);
    background: linear-gradient(
        var(--gradient-angle),
        var(--bg-button-number-black-1) 0%,
        var(--bg-button-number-black-2) 100%
    );
}

.bet-col-row .background {
    border: 0.1rem solid var(--bg-button-col-row-1);
    background: linear-gradient(
        var(--gradient-angle),
        var(--bg-button-col-row-1) 0%,
        var(--bg-button-col-row-2) 100%
    );
}

.bet-red .background {
    border: 0.1rem solid var(--bg-button-red-1);
    background: linear-gradient(
        var(--gradient-angle),
        var(--bg-button-red-1) 0%,
        var(--bg-button-red-2) 100%
    );
}

.bet-black .background {
    border: 0.1rem solid var(--bg-button-black-1);
    background: linear-gradient(
        var(--gradient-angle),
        var(--bg-button-black-1) 0%,
        var(--bg-button-black-2) 100%
    );
}

.slot-chip {
    pointer-events: none;

    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slot-multiplier {
    position: absolute;
}

:global(.mobile-portrait) {
    .slot-chip {
        --percent-chip: 56;

        width: calc(100cqw / 8 * var(--percent-chip) / 100);
        height: calc(100cqw / 8 * var(--percent-chip) / 100);
        font-size: calc(100cqw / 8 * var(--percent-chip) / 100);
    }

    .bet-number-red .background,
    .bet-number-black .background,
    .bet-col-row .background,
    .bet-red .background,
    .bet-black .background {
        --gradient-angle: 180deg;
    }

    .slot-c-1 .background,
    .slot-r-1 .background {
        border-top-left-radius: 0.4rem;
    }

    .slot-c-1-2 .background,
    .slot-r-4 .background {
        border-top-right-radius: 0.4rem;
    }

    .slot-odd .background,
    .slot-small .background {
        border-bottom-left-radius: 0.4rem;
    }

    .slot-even .background,
    .slot-big .background {
        border-bottom-right-radius: 0.4rem;
    }

    // position
    @include button-bet-position-portrait;
}

:global(.desktop),
:global(.mobile-landscape) {
    .slot-chip {
        --percent-chip: 35;

        width: calc(100cqw / 8 * var(--percent-chip) / 100);
        height: calc(100cqw / 8 * var(--percent-chip) / 100);
        font-size: calc(100cqw / 8 * var(--percent-chip) / 100);
    }

    .bet-number-red .background,
    .bet-number-black .background,
    .bet-col-row .background,
    .bet-red .background,
    .bet-black .background {
        --gradient-angle: 90deg;
    }

    .slot-c-1 .background,
    .slot-r-1 .background {
        border-top-left-radius: 0.4rem;
    }

    .slot-c-1-2 .background,
    .slot-r-4 .background {
        border-bottom-left-radius: 0.4rem;
    }

    .slot-small .background,
    .slot-odd .background {
        border-top-right-radius: 0.4rem;
    }

    .slot-big .background,
    .slot-even .background {
        border-bottom-right-radius: 0.4rem;
    }

    // position
    @include button-bet-position-landscape;
}

:global(.desktop) {
    .button-bet {
        cursor: pointer;
    }
}

// .button-bet {
//     @for $row from 1 through 4 {
//         @for $col from 1 through 5 {
//             &.slot-h-#{$row}-#{$col} {
//                 background-color: blue;
//             }
//         }
//     }

//     @for $row from 1 through 3 {
//         @for $col from 1 through 6 {
//             &.slot-v-#{$row}-#{$col} {
//                 background-color: red;
//             }
//         }
//     }

//     @for $row from 1 through 3 {
//         @for $col from 1 through 5 {
//             &.slot-v-h-#{$row}-#{$col} {
//                 background-color: green;
//             }
//         }
//     }
// }
