.button-bet {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: all 1s linear;

    border-radius: 0.1rem;

    &.bet-number {
        border: 0.1rem solid #f3d8a4;
        background: linear-gradient(180deg, #fff 0%, #ffe5b2 100%);
    }

    &.bet-col-row {
        border: 0.1rem solid #e0b869;
        background: linear-gradient(180deg, #ffe6b2 0%, #e0b869 100%);
    }

    &.bet-red {
        border: 0.1rem solid #f30049;
        background: linear-gradient(0deg, #59001b 0.33%, #f30049 99.67%);
    }

    &.bet-yellow {
        border: 0.1rem solid #ffb01c;
        background: linear-gradient(0deg, #8c5400 0%, #ffb01c 100%);
    }

    &.slot-small {
        border-top-left-radius: 0.4rem;
    }

    &.slot-big {
        border-top-right-radius: 0.4rem;
    }

    &.slot-odd {
        border-bottom-left-radius: 0.4rem;
    }

    &.slot-black {
        border-bottom-right-radius: 0.4rem;
    }
}

// position
.button-bet {
    &.slot-n-1,
    &.slot-n-5,
    &.slot-n-9,
    &.slot-n-13,
    &.slot-n-17,
    &.slot-n-21 {
        grid-row: 2;
    }

    &.slot-n-2,
    &.slot-n-6,
    &.slot-n-10,
    &.slot-n-14,
    &.slot-n-18,
    &.slot-n-22 {
        grid-row: 3;
    }

    &.slot-n-3,
    &.slot-n-7,
    &.slot-n-11,
    &.slot-n-15,
    &.slot-n-19,
    &.slot-n-23 {
        grid-row: 4;
    }

    &.slot-n-4,
    &.slot-n-8,
    &.slot-n-12,
    &.slot-n-16,
    &.slot-n-20,
    &.slot-n-24 {
        grid-row: 5;
    }

    &.slot-n-1,
    &.slot-n-2,
    &.slot-n-3,
    &.slot-n-4 {
        grid-column: 6 / span 5;
    }

    &.slot-n-5,
    &.slot-n-6,
    &.slot-n-7,
    &.slot-n-8 {
        grid-column: 11 / span 5;
    }

    &.slot-n-9,
    &.slot-n-10,
    &.slot-n-11,
    &.slot-n-12 {
        grid-column: 16 / span 5;
    }

    &.slot-n-13,
    &.slot-n-14,
    &.slot-n-15,
    &.slot-n-16 {
        grid-column: 21 / span 5;
    }

    &.slot-n-17,
    &.slot-n-18,
    &.slot-n-19,
    &.slot-n-20 {
        grid-column: 26 / span 5;
    }

    &.slot-n-21,
    &.slot-n-22,
    &.slot-n-23,
    &.slot-n-24 {
        grid-column: 31 / span 5;
    }

    &.slot-c-1,
    &.slot-c-2,
    &.slot-c-3,
    &.slot-c-4,
    &.slot-c-5,
    &.slot-c-6 {
        grid-row: 1;
    }

    &.slot-c-1 {
        grid-column: 6 / span 5;
    }

    &.slot-c-2 {
        grid-column: 11 / span 5;
    }

    &.slot-c-3 {
        grid-column: 16 / span 5;
    }

    &.slot-c-4 {
        grid-column: 21 / span 5;
    }

    &.slot-c-5 {
        grid-column: 26 / span 5;
    }

    &.slot-c-6 {
        grid-column: 31 / span 5;
    }

    &.slot-r-1,
    &.slot-r-2,
    &.slot-r-3,
    &.slot-r-4 {
        grid-column: 1 / span 5;
    }

    &.slot-r-1 {
        grid-row: 2;
    }

    &.slot-r-2 {
        grid-row: 3;
    }

    &.slot-r-3 {
        grid-row: 4;
    }

    &.slot-r-4 {
        grid-row: 5;
    }

    &.slot-r-1-2,
    &.slot-r-3-4 {
        grid-column: 36 / span 5;
    }

    &.slot-r-1-2 {
        grid-row: 2 / span 2;
    }

    &.slot-r-3-4 {
        grid-row: 4 / span 2;
    }

    &.slot-c-1-2,
    &.slot-c-2-3,
    &.slot-c-3-4,
    &.slot-c-4-5,
    &.slot-c-5-6 {
        grid-row: 6;
    }

    &.slot-c-1-2 {
        grid-column: 1 / span 8;
    }

    &.slot-c-2-3 {
        grid-column: 9 / span 8;
    }

    &.slot-c-3-4 {
        grid-column: 17 / span 8;
    }

    &.slot-c-4-5 {
        grid-column: 25 / span 8;
    }

    &.slot-c-5-6 {
        grid-column: 33 / span 8;
    }

    &.slot-small,
    &.slot-big {
        grid-row: 1;
    }

    &.slot-small {
        grid-column: 1 / span 5;
    }

    &.slot-big {
        grid-column: 36 / span 5;
    }

    &.slot-odd,
    &.slot-even,
    &.slot-red,
    &.slot-black {
        grid-row: 7;
    }

    &.slot-odd {
        grid-column: 1 / span 10;
    }

    &.slot-even {
        grid-column: 11 / span 10;
    }

    &.slot-red {
        grid-column: 21 / span 10;
    }

    &.slot-black {
        grid-column: 31 / span 10;
    }
}
