.container {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.input-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
}

.checkbox {
    appearance: none;
    -webkit-appearance: none;
    position: relative;
    width: 1.6rem;
    height: 1.6rem;
    border: 0.1rem solid rgba(255, 255, 255, 0.12);
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0.06);
    overflow: hidden;
}

.checkbox::before {
    content: var(--check);
    position: absolute;
    top: 0;
    left: 0;
    translate: -10% -5%;
    width: 2.1rem;
    height: 2.1rem;
    transform: scale(0);
    border-radius: 0.5rem;
    background-color: #00c3d8;
    transition: all 0.2s;
}

.checkbox:checked::before {
    transform: scale(1);
    transition: all 0.2s;
}

.label {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 0.012rem;
}
