.container {
    padding: 0 1.2rem 1.6rem;
}

.text-htp {
    color: #c8c9db;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.6rem;
}

.htp-list {
    padding: 0;
    list-style: disc;
    list-style-position: outside;
    margin-left: 1.2rem;

    li {
        padding: 0.25rem 0;
    }

    p {
        display: inline;
    }
}
