.radiogroup-container {
  display: flex;
  width: 100%;
  gap: 6px;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.radio-item {
  height: 46px;
  font-family: ManropeCustom;
  box-sizing: border-box;
  padding: 0px 8px;
  font-size: 16px;
  cursor: pointer;
  flex: 1;
  color: white;
  border-radius: 8px;
  border: 1px solid rgba(94, 95, 115, 0.15);
  background: #2c2d3f;
}

.radio-item.selected {
  border: 1px #00c3d8 solid;
  background: rgba(0, 195, 216, 0.08);
}

.radio-item:disabled {
  opacity: 0.5;
}
