.container {
    position: absolute;
    top: 0;
    left: 0;
    padding: 2rem;
    z-index: var(--layer-game);

    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.wrapper {
    display: flex;
    flex-direction: column;
    // align-items: flex-end;
    gap: 0.8rem;
}

.game {
    display: flex;
    gap: 0.6rem;
    font-size: 1.4rem;
    font-weight: 500;
}

.period {
    color: #ccc;
}
