.slide {
    display: inline-block;

    width: 100%;
    height: 100%;
}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.title {
    // flex: 0;

    h1 {
        text-align: center;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1.6rem;
        text-transform: uppercase;
    }
}

.graphic {
    // flex: 0;

    margin-block: 0.5rem;
}

.content {
    // flex: 1;
    // overflow-y: auto;
    white-space: break-spaces;
}

:global(.mobile-portrait) {
    .graphic {
        height: 17rem;
    }
}

:global(.desktop),
:global(.mobile-landscape) {
    .graphic {
        height: 8rem;
    }
}
