.user-info {
    background-color: #282a3d;
    width: max-content;
    min-width: 16rem;
    border-radius: 0.4rem;
    padding: 1.2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.2rem;
}

.label-wrapper {
    display: flex;
    width: 100%;
    overflow: hidden;
}

.label,
.value {
    white-space: nowrap;
}

.label {
    color: #ddd;
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: capitalize;
}

.value {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--cyan);
}
