.result {
    display: flex;
    justify-content: center;

    position: relative;

    display: flex;
    width: 100%;
    height: fit-content;
    padding: 1.2rem 1.2rem;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: borderRadiusStr;
    border: none;
    background: #1e1f2e;

    & > svg {
        width: 6.5rem;
        height: 6.5rem;
    }
}

.multiplier {
    position: absolute;
    left: 50%;
    top: 0.5rem;
    transform: translateX(-50%);

    display: inline-flex;
    padding: 0.3rem 0.3rem;
    justify-content: center;
    align-items: center;

    border-radius: 11rem;
    border: 0.05rem solid #4ebbff;
    background: #0189de;

    &-text {
        text-shadow: 0px 0.0352rem 0.0938rem rgba(0, 0, 0, 0.32);
        font-family: Manrope;
        font-size: 1.1rem;
        font-weight: 700;
        letter-spacing: -0.0352rem;
    }
}

.triangle_container {
    position: relative;
    width: 200px;
    /* Adjust the width as needed */
    height: 100px;
    /* Adjust the height as needed */
    display: flex;
    justify-content: space-between;
}

.triangle_border {
    position: absolute;
    bottom: 0;
    right: 0;
    width: calc(100% - 2px);
    /* Adjust to match the border width */
    height: calc(100% - 2px);
    /* Adjust to match the border width */
    clip-path: polygon(0 100%, 100% 0, 100% 100%);
    background-color: #4c4d66;
    /* Red border color */
    border-radius: 2px 2px 2px 2px;
}

.triangle {
    position: absolute;
    bottom: 0.6px;
    right: 1.2px;
    width: calc(100% - 4.6px);
    height: calc(100% - 4.6px);
    /* Adjust to match the border width */
    border-radius: 2px 2px 2px 2px;

    clip-path: polygon(0 100%, 100% 0, 100% 100%);
    background-image: linear-gradient(180deg, #42445f 1.58%, #2f3046 100%);
}

.triangle_border.win {
    background-color: rgba(1, 203, 167, 1);
}

.triangle.win {
    background-image: linear-gradient(0deg, #01cba7 -13.46%, rgba(30, 31, 46, 1) 99.77%);
}

.triangle_border_1 {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 2px);
    /* Adjust to match the border width */
    height: calc(100% - 2px);
    /* Adjust to match the border width */
    clip-path: polygon(0 0, 100% 0, 0 100%);
    background-color: #4c4d66;
    border-radius: 2px 2px 2px 2px;
}

.triangle_1 {
    position: absolute;
    top: 0.6px;
    left: 1.2px;
    width: calc(100% - 4.6px);
    height: calc(100% - 4.6px);
    border-radius: 2px 2px 2px 2px;
    /* Adjust to match the border width */
    clip-path: polygon(0 0, 100% 0, 0 100%);
    background-image: linear-gradient(180deg, #42445f 1.58%, #2f3046 100%);
}

.triangle_border_1.win {
    background-color: rgba(0, 164, 234, 1);
}

.triangle_1.win {
    background-image: linear-gradient(0deg, #00a4ea 0.23%, rgba(30, 31, 46, 1) 122.17%);
}

.triangle_1,
.triangle {
    span {
        color: rgb(255, 255, 255);
        text-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px;
        font-family: Manrope;
        font-size: 1.1rem;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        letter-spacing: 0.11px;
        text-transform: uppercase;
        padding: 0px;
        margin: 0px;
    }
}
