.total-bet {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);

    width: var(--width-total-bet);
    height: auto;
}

.background {
    width: 100%;
    height: 100%;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
}

.desc {
    font-size: 0.8rem;
    font-weight: 400;
    text-transform: capitalize;
}

.value {
    color: var(--cyan);
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: -0.024rem;
}

.desktop,
.mobile-landscape {
    .background {
        transform: translateY(0.6rem);
    }

    .content {
        padding-top: 0.6rem;
    }
}
