.winner-area {
    position: absolute;
    width: 100%;
    bottom: 43rem;
    left: 2rem;
    height: 41rem;
    overflow: hidden;
    mask-image: linear-gradient(transparent 0%, black 30%, black 70%, transparent 100%);
    z-index: var(--layer-timer);
}
