.card-menu {
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.button-icon {
    flex-shrink: 0;
    width: var(--button-action-size);
    height: var(--button-action-size);

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 0.8rem;
    border: 0.08rem solid rgba(255, 255, 255, 0.24);
    background-color: var(--overlay-1);
    backdrop-filter: blur(0.35rem);

    & > svg {
        width: 57.8%;
        height: 57.8%;
    }
}

:global(.desktop) {
    .button-icon {
        border-width: 0.15rem;
    }
}
