.video-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-off {
    width: 100%;
    height: 100%;
}

.off {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.8rem;
    text-align: center;
    text-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
}
