.video-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-off {
    width: 100%;
    height: 100%;
}

.off {
    position: absolute;
    left: 50%;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    text-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
}

:global(.mobile-portrait),
:global(.mobile-landscape) {
    .off {
        top: 50%;
        translate: -50% -50%;
    }
}

:global(.desktop) {
    .off {
        top: 30rem;
        translate: -50% 0;
    }
}
