// .mobile-portrait {
//     .htp {
//         background-color: red;
//     }
// }

// .mobile-landscape {
//     .htp {
//         background-color: blue;
//     }
// }

// .desktop {
//     .htp {
//         background-color: green;
//     }
// }
