.notSuperWild {
    margin-top: 5%;
}

.table-win-blink {
    animation: tableWinBlink 2s reverse ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes tableWinBlink {
    0% {
        filter: brightness(1);
    }

    50% {
        filter: brightness(1.2);
    }

    100% {
        filter: brightness(1);
    }
}