.container {
    padding: 0 1.2rem 1.6rem;
}

.heading-2 {
    font-size: 1.3rem;
    font-weight: 600;
    margin-block: 1rem;
    line-height: 1.2;
}

.heading-3 {
    font-size: 1.2rem;
    font-weight: 700;
    margin-block: 1rem;
    line-height: 1.2;
    color: #1a73e8;
}

.text-htp {
    color: #c8c9db;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.5rem;
    margin-block: 0.4rem;
}

.htp-list {
    padding: 0;
    list-style: disc outside;
    margin-left: 1.2rem;

    li {
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
    }

    p {
        display: inline;
    }
}

.table,
.table .th,
.table .td {
    border-collapse: collapse;
    border: 0.05rem solid #4c4d66;
}

.table {
    width: 100%;
    font-size: 1rem;
    font-weight: 600;

    .th {
        text-transform: capitalize;
    }

    .th,
    .td {
        padding-left: 0.6rem;
        padding-right: 0.6rem;

        height: 2.5rem;

        &.bet-child {
            padding-left: 1.6rem;
        }
    }

    .thead .tr {
        background-color: #2c2d3f;
    }
}

:global(.desktop) {
    .heading-2 {
        font-size: 1.4rem;
    }

    .heading-3 {
        font-size: 1.4rem;
    }

    .text-htp {
        font-size: 1.4rem;
        line-height: 1.5;
    }

    .table {
        font-size: 1.1rem;
    }
}
