.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    gap: 1.2rem;
    padding: 1rem 0.8rem;
    cursor: pointer;

    svg {
        width: 3.2rem;
        height: 3.2rem;
    }
}

.text {
    color: #5e5f73;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
    text-transform: capitalize;
}
