.user-info {
    background-color: #282a3d;
    width: max-content;
    border-radius: 0.4rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.8rem;
    gap: 0.4rem;

    &.right {
        align-items: flex-end;

        .label-wrapper {
            justify-content: flex-end;
        }
    }
}

.label-wrapper {
    display: flex;
    gap: 0.5rem;
    width: 100%;
    overflow: hidden;
}

.label,
.value,
.label-second {
    white-space: nowrap;
}

.label,
.label-second {
    font-size: 0.9rem;
    font-weight: 400;
}

.label {
    color: var(--gray);
}

.label-second {
    color: var(--white);
    text-overflow: ellipsis;
}

.value {
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: -0.02rem;
}
