.wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;

    cursor: pointer;
}

.limit {
    font-size: 1.6rem;
    font-weight: 700;
    // letter-spacing: -0.22px;
}

.icon {
    width: 2.2rem;
}
