.wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;

    cursor: pointer;
}

.limit {
    font-size: 1.6rem;
    font-weight: 700;
    // letter-spacing: -0.22px;
}

.icon {
    width: 2.2rem;
    height: 2.2rem;

    transform: rotateZ(0deg);
    // color: white;

    & > svg {
        width: 100%;
        height: 100%;
    }

    transition:
        transform 0.4s,
        color 0.4s;

    &.close {
        transform: rotateZ(0deg);
        // color: #6b6c80;
    }

    &.open {
        transform: rotateZ(180deg);
        // color: white;
    }
}
