.item {
    width: 2.6rem;

    display: flex;
    justify-content: center;

    flex-shrink: 0;

    &:first-child {
        .wrapper {
            box-shadow:
                0 0 0.1rem #83ff48,
                0 0 0.2rem 0 #83ff48 inset;
        }
    }

    .wrapper {
        position: relative;

        display: flex;
        justify-content: center;
        align-items: center;

        height: 2rem;
        width: 2rem;
        border-radius: 2rem;

        background: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(0.4rem);
    }

    .text.red {
        color: #e40044;
    }
}

.text {
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: -0.024rem;
}
