:global(.mobile-portrait) {
    .image {
        width: 100%;
    }
}

:global(.mobile-landscape) {
    .image {
        height: 100%;
    }
}

:global(.desktop) {
    .image {
        height: 100%;
    }
}
