.modal {
    position: relative;
    width: var(--width-modal-mini-htp);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2.4rem 0.8rem 2rem;
    border-radius: 0.4rem;

    display: flex;
    flex-direction: column;
}

.overlay {
    position: absolute;
    inset: 0;
}

:global :local(.modal) {
    animation: zoomIn 0.3s both;
}

:global :local(.modal.close) {
    animation: zoomOut 0.3s both;
}

.body {
    flex: 1;
    overflow: hidden;
}

:global(.mobile-portrait) {
    .modal {
        --width-modal-mini-htp: 34rem;

        // height: 100%;
        // max-height: 50rem;
    }
}

:global(.mobile-landscape) {
    .modal {
        --width-modal-mini-htp: 42rem;

        height: calc(100% - 2rem);
        max-height: calc(100% - 2rem);
    }
}

:global(.desktop) {
    .modal {
        --width-modal-mini-htp: 54rem;

        border-radius: 0.8rem;

        // height: calc(var(--height-game-px) - 2rem);
        height: fit-content;
        max-height: calc(var(--height-game-px) - 2rem);

        padding: 2.4rem 1.2rem 2rem;
    }
}
