.video-quality {
    padding: 0.8rem 1.2rem;

    display: flex;
    gap: 0.6rem;
}

.button {
    flex: 1;
    flex-shrink: 0;

    border-radius: 0.5rem;
    border: 0.1rem solid rgba(94, 95, 115, 0.15);
    background-color: #2c2d3f;

    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s linear;

    &.active {
        border-color: var(--cyan);
    }
}

.label {
    font-size: 1.1rem;
    font-size: 500;
    text-transform: capitalize;
}
