.scrolledYRoadmap {
  height: 30vw;
  padding: 0;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
}

.scrolledYRoadmap.zoom {
  height: 30vw;
}

.scrolledYRoadmap::-webkit-scrollbar {
  background: rgba(0, 0, 0, 0);
  opacity: 0;
  display: none;
}

.scrolledYRoadmap::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0);
  opacity: 0;
  display: none;
}

.roadmapContent {
  height: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  position: relative;
  transform: scale(1.1);
  transform-origin: top left;

  & > div {
    display: flex;
    height: 90%;
    width: auto;
    svg {
      padding-right: 0.3rem;
    }
  }
}

.roadmapContent.zoom {
  transform: scale(1.5) translateX(25vw) translateY(10vw);
  margin-top: -5vw;
}

@keyframes blink {
  100%,
  0% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
}
