.wrapper {
    margin-top: 1.2rem;
    width: 100%;
    overflow-x: auto;
    border-radius: 0.5rem 0.5rem;
}

.table {
    font-size: 1.1rem;
    width: 100%;
    background-color: #161623;
    border-collapse: separate;
    border-spacing: 0;

    tr > td:nth-child(1) {
        background-color: #2b2d3d;
    }

    td {
        border: 0.06rem solid #4c4d66;
        border-style: none solid solid none;

        text-align: center;
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
    }

    tr:first-child td:first-child {
        border-top-left-radius: 0.4rem;
    }
    tr:first-child td:last-child {
        border-top-right-radius: 0.4rem;
    }

    tr:last-child td:first-child {
        border-bottom-left-radius: 0.4rem;
    }
    tr:last-child td:last-child {
        border-bottom-right-radius: 0.4rem;
    }

    tr:first-child td {
        border-top-style: solid;
    }
    tr td:first-child {
        border-left-style: solid;
    }
}

:global(.desktop) {
    .table {
        font-size: 1.4rem;
    }
}
