.top-winner {
    --top-winner-height: 1.6rem;

    position: absolute;
    width: 100%;
    height: var(--top-winner-height);
    background-color: rgba(15, 16, 29, 0.7);
    z-index: var(--layer-top-winner);
    pointer-events: none;

    transform: translateY(-100%);

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 8rem;
        height: 100%;
        background: linear-gradient(90deg, rgba(255, 199, 28, 0.32) 0%, rgba(255, 199, 28, 0) 100%);
    }
}

:global :local(.top-winner.show) {
    animation: slideInDown 0.4s both;
}

:global :local(.top-winner.hide) {
    animation: slideOutUp 0.4s both;
}

.wrapper {
    height: 100%;
    display: flex;
}

.label {
    flex-shrink: 0;
    height: 100%;
    display: inline-flex;
    align-items: center;

    font-size: 0.8rem;
    font-weight: 700;
    text-transform: uppercase;

    padding-left: 0.6rem;
    padding-right: 0.6rem;

    opacity: 0.8;
}
