.label {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: -0.02rem;
    text-transform: capitalize;
}

.value {
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: -0.02rem;
    color: var(--cyan);
}
