.timer {
    position: relative;

    width: 5.5rem;
    height: 5.5rem;

    overflow: visible;
}

.timer-text {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;

    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: -0.1rem;
}
