.wrapper {
    margin-top: 1.4rem;
    display: flex;
    flex-direction: column;
}

.card {
    background-color: #2c2d3f;
    padding: 1.4rem 0.8rem;
    border-top: 0.5px solid #4c4d66;
    border-left: 0.5px solid #4c4d66;
    border-right: 0.5px solid #4c4d66;

    display: flex;
    align-items: center;
    gap: 1.6rem;

    &:first-child {
        border-radius: 0.6rem 0.6rem 0 0;
    }

    &:last-child {
        border-bottom: 0.5px solid #4c4d66;
        border-radius: 0 0 0.6rem 0.6rem;
    }
}

.button-icon {
    flex-shrink: 0;
    width: 3.4rem;
    height: 3.4rem;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 0.8rem;
    border: 0.08rem solid rgba(255, 255, 255, 0.24);
    background-color: rgba(0, 0, 0, 0.32);
    backdrop-filter: blur(0.35rem);

    & > svg {
        width: 2rem;
        height: 2rem;
    }
}
