.header {
    position: relative;
    height: 4rem;
    flex-shrink: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.action {
    position: absolute;
    top: 0.8rem;
    height: 2.4rem;
    width: 2.4rem;

    &.left {
        left: 0.8rem;
    }

    &.right {
        right: 0.8rem;
    }

    & > svg {
        width: 100%;
        height: 100%;
    }
}

.title {
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: capitalize;
}

:global(.desktop) {
    .title {
        font-size: 1.76rem; // 1.6rem;
    }
}
