.chip {
    --opacity: 1;

    width: 100%;
    height: 100%;
    border-radius: 9999px;

    position: relative;

    overflow: hidden;
    opacity: var(--opacity);
    transition: opacity 0.4s linear;
}

.hide {
    --opacity: 0.3;
}

.bg {
    width: 100%;
    height: 100%;
}

.text {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

    font-size: 0.3em;
    font-weight: 800;
    white-space: nowrap;
    letter-spacing: -0.05em;

    text-shadow:
        0.01rem 0.01rem 0.1rem rgba(0, 0, 0, 0.5),
        -0.01rem -0.01rem 0.1rem rgba(0, 0, 0, 0.5);
}
