.menu-settings {
    flex: 1;
    overflow-y: auto;
    background-color: #1e1f2e;
    border-top: 0.1rem solid #2b2c3d;

    display: flex;
    flex-direction: column;

    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}
