.layout {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    z-index: 3;
}

.main-wrapper {
    flex: 1;
    display: grid;
    grid-template-columns: calc(2.4rem + var(--size-button)) 1fr calc(2.4rem + var(--size-button));
}

.main {
    flex: 1;
}

.bottom,
.left,
.right {
    flex-shrink: 0;
}

.left,
.right {
    padding-bottom: 1.2rem;
}

.mobile-portrait {
    &.layout {
        &.offset-streaming {
            padding-top: calc(var(--height-streaming) * 1px);
        }
    }
}
