.button {
    --opacity: 1;

    opacity: var(var(--opacity));

    &:active:not(:disabled) {
        animation: click 0.2s linear;
    }

    &:disabled {
        --opacity: 0.5;
    }
}

@keyframes click {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.85);
    }

    100% {
        transform: scale(1);
    }
}
