.button {
    --opacity: 1;

    opacity: var(--opacity);

    scale: 1;
    transition: scale 0.5;

    &:active:not(:disabled) {
        scale: 0.75;
        transition: scale 0.5;
    }

    &:disabled {
        --opacity: 0.5;
    }
}
