.button {
    --opacity: 1;

    opacity: var(--opacity);

    scale: 1;
    transition: scale 0.2s;
    padding: 0;
    border: 0;

    &.animate:active:not(:disabled) {
        scale: 0.9;
        transition: scale 0.2s;
    }

    &:disabled {
        --opacity: 0.2;
    }
}
