.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: calc(var(--vh, 1vh) * 100);
    background-image: url('../img/flashscreen.png');
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
    background-color: black;
    z-index: 999999;
}

.loading-hide {
    animation-name: fadeOut;
    animation-fill-mode: forwards;
    animation-duration: 0.45s;
}

.loading-logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.loading-bottom {
    position: absolute;
    left: 0;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.loading-idnlive {
    height: auto;
}

.progress-container {
    position: relative;
    width: var(--width);
    height: var(--height);
}

.progress-background,
.progress-value {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/progress.png');
    background-size: var(--width) var(--height);
}

.progress-background {
    filter: grayscale(1);
}

.loading-text {
    color: #fff;
}

@supports (height: 100dvh) {
    .loading {
        height: 100dvh;
    }
}

@media (min-aspect-ratio: 45 / 83) {
    .loading {
        background-size: 100% auto;
    }
}

@media (orientation: portrait) {
    /* .loading-background {
        --height: 100%;
    } */

    .loading-logo {
        width: clamp(50%, 220px, 80%);
    }

    .loading-bottom {
        bottom: 20px;
    }

    .loading-idnlive {
        width: clamp(15%, 93px, 25%);
    }

    .progress-container {
        --width: 50vw;
        --height: calc(var(--width) * 8 / 164);
    }

    .loading-text {
        font-size: clamp(1.25vh, 9px, 2vh);
    }
}

@media (orientation: landscape) {
    .loading-logo {
        width: clamp(30%, 220px, 50%);
    }

    .loading-bottom {
        bottom: 20px;
    }

    .loading-idnlive {
        width: clamp(10%, 93px, 25%);
    }

    .progress-container {
        --width: 25vw;
        --height: calc(var(--width) * 8 / 164);
    }

    .loading-text {
        font-size: clamp(1.5vw, 9px, 2vw);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
