.web-stream {
    width: 100%;
    height: 100%;
    border: 0;
    outline: 0;
}

.loading-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.loading-text {
    font-size: 1.4rem;
}
