.table-wrapper {
    width: 100%;
    overflow-x: hidden;
    border-radius: 0.5rem 0.5rem;
    background-color: #000;
    border: 0.06rem solid #4c4d66;
}

.table {
    width: 100%;
    border-collapse: collapse;

    font-size: 1rem;
    font-weight: 600;

    border: 0.06rem solid #4c4d66;

    thead tr {
        background-color: #2c2d3f;
    }

    th,
    td {
        border: 0.06rem solid #4c4d66;
        padding: 0 0.5rem;
        white-space: nowrap;
        height: 2.5rem;
    }

    th {
        font-size: 1rem;
        font-weight: 600;
    }

    td:nth-child(1) {
        max-width: 3%;
        text-align: center;
        p {
            display: block;
            height: fit-content;
            word-wrap: break-word;
            white-space: normal;
            width: 100%;
        }
    }
    td:nth-child(2) {
        p {
            display: block;
            height: fit-content;
            word-wrap: break-word;
            white-space: normal;
            width: 100%;
        }
    }

    tr.win {
        background: rgba(59, 232, 0, 0.16);
    }

    td.shading {
        background: var(--bg-shading);
    }

    td.card {
        height: 5.5rem;
        padding: 0.5rem;
    }
}

.bigger {
    font-size: 1.1rem;
}

.muted {
    color: #4c4d66;
}

.text-center {
    text-align: center;
}

.item-number {
    width: 1.8rem;
    height: 1.4rem;
    border-radius: 9999px;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    font-size: 0.8rem;
    font-weight: 700;
}
