.item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 1.2rem;
}

.left {
    display: flex;
    align-items: center;
    gap: 1rem;

    & > svg {
        width: 2rem;
        height: 2rem;
    }
}

.text {
    font-size: 1.3rem;
    font-weight: 500;
    text-transform: capitalize;
}

:global(.desktop) {
    .text {
        font-size: 1.43rem;
    }
}
