.table-wrapper {
    width: 100%;
    overflow-x: auto;
}

.table {
    width: 100%;
    border-collapse: collapse;

    font-size: 1rem;
    font-weight: 600;

    border: 0.06rem solid #4c4d66;

    thead tr {
        background-color: #2c2d3f;
    }

    th,
    td {
        border: 0.06rem solid #4c4d66;

        padding-left: 1.2rem;
        padding-right: 1.2rem;

        white-space: nowrap;
        height: 2.5rem;
    }

    th {
        font-size: 1rem;
        font-weight: 600;
    }

    tr.win {
        background-color: rgba(59, 232, 0, 0.16);
    }

    td.shading {
        background: var(--bg-shading);
    }
}

.bigger {
    font-size: 1.1rem;
}

.muted {
    color: #4c4d66;
}

.text-center {
    text-align: center;
}

.item-number {
    width: 1.8rem;
    height: 1.4rem;
    border-radius: 9999px;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    font-size: 0.8rem;
    font-weight: 700;
}
