.info {
    position: absolute;
    top: 0;
    left: 0;

    height: var(--top-winner-height);
    display: flex;
    align-items: center;
    padding-left: 0.8rem;
}

.text {
    font-size: 0.9rem;
    font-weight: 500;
    text-shadow:
        0.1rem 0.1rem 0.4rem rgba(0, 0, 0, 0.7),
        -0.1rem -0.1rem 0.4rem rgba(0, 0, 0, 0.7);
    color: var(--cyan);
}
