.message {
    --translate-x: -50%;
    --translate-y: 0;

    position: absolute;
    left: 50%;

    transform: translateX(var(--translate-x)) translateY(var(--translate-y));

    height: 2rem;
    width: max-content;
    min-width: 28rem;
    max-width: 34rem;
}

:global :local(.message) {
    animation: fadeIn 0.3s linear forwards;
}

:global :local(.message.disapear) {
    animation: fadeOut 0.3s linear forwards;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.content {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 0.01rem;
    text-transform: uppercase;
    text-shadow: 0px 0.1rem 0.1rem rgba(0, 0, 0, 0.3);
}

:global(.mobile-portrait) {
    .message {
        --translate-y: -2rem;

        top: calc(var(--height-streaming) * 1px);
    }
}

:global(.mobile-landscape) {
    .message {
        top: 0.4rem;
    }
}

:global(.desktop) {
    .message {
        top: 46rem;
        height: 4rem;
        min-width: 56rem;
        max-width: 68rem;
    }

    .text {
        font-size: 1.8rem;
        letter-spacing: 0.02rem;
        text-shadow: 0px 0.2rem 0.2rem rgba(0, 0, 0, 0.3);
    }
}
