.container--32017 {
    color: #efefef;
    display: flex;
    flex-direction: row;
    font-size: calc(var(--root-size) * 1.92);
    line-height: calc(var(--root-size) * 2.64);
    max-height: calc(var(--root-size) * 90);
    min-height: calc(var(--root-size) * 72);
    width: calc(var(--root-size) * 102);
}

.container--32017.rtl--55ecd {
    direction: rtl;
}

.sidebar--888d8 {
    background: hsla(0, 0%, 39%, 0.4);
    flex: 0 0 30%;
    font-size: calc(var(--size) * 2.01);
}

.sidebar--888d8 .title--ccb6e {
    cursor: pointer;
    list-style: none;
    margin-right: calc(var(--rem-migration-size) * 2 * -1);
    padding: calc(var(--size) * 0.55) calc(var(--rem-migration-size) * 2) calc(var(--size) * 0.55)
        calc(var(--size) * 1.6);
    transition: background 0.25s;
}

.sidebar--888d8 .title--ccb6e:hover {
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    transition: none;
}

.sidebar--888d8 .title--ccb6e.active--be9fe {
    color: #96ffff;
    text-shadow:
        -0.05ex 0 currentColor,
        0.05ex 0 currentColor;
}

.golden--1dab5 .sidebar--888d8 .title--ccb6e.active--be9fe {
    color: #eebe47;
}

.rtl--55ecd .sidebar--888d8 .title--ccb6e {
    margin: 0 0 0 calc(var(--rem-migration-size) * 2 * -1);
    padding: calc(var(--size) * 0.55) calc(var(--size) * 1.6) calc(var(--size) * 0.55)
        calc(var(--rem-migration-size) * 2);
}

.content--aafef {
    flex: 0 0 70%;
    min-width: 0;
}

.chapter--67014 {
    cursor: default;
}

.chapter--67014:not(:first-child) {
    padding: calc(var(--size) * 1.54) 0 0;
}

.chapter--67014 h1 {
    clear: both;
    color: #96ffff;
    font-size: calc(var(--size) * 2.13);
    font-weight: 400;
    margin: 0 0 calc(var(--size) * 1.28);
}

.golden--1dab5 .chapter--67014 h1 {
    color: #eebe47;
}

.chapter--67014 h2 {
    font-size: calc(var(--size) * 1.92);
    font-weight: 600;
    margin: calc(var(--root-size) * 0.96) 0 calc(var(--root-size) * 0.48) 0;
}

.chapter--67014 li {
    margin: 0 0 calc(var(--root-size) * 0.6) calc(var(--root-size) * 4.2);
}

.chapter--67014 ul li {
    list-style: none;
    text-indent: calc(var(--root-size) * -1.8);
}

.chapter--67014 ul li:before {
    content: '\2022';
    margin: 0 calc(var(--size) * 0.96) 0 0;
}

.rtl--55ecd .chapter--67014 ul li:before {
    margin: 0 0 0 calc(var(--size) * 0.96);
}

.chapter--67014 p {
    margin-bottom: calc(var(--root-size) * 2.4);
}

.chapter--67014 p + ol,
.chapter--67014 p + ul {
    margin-bottom: calc(var(--root-size) * 2.4);
    margin-top: calc(var(--root-size) * -2.4 + var(--root-size) * 0.48);
}

.chapter--67014 table {
    text-align: left;
}

[dir='rtl'] .chapter--67014 table {
    text-align: right;
}

.chapter--67014 table {
    border: calc(var(--root-size) * 0.1) solid #404040;
    border-collapse: collapse;
    margin: calc(var(--root-size) * 0.6) 0 calc(var(--root-size) * 2.4) 0;
}

.chapter--67014 table th {
    background-color: #404040;
}

.chapter--67014 table td,
.chapter--67014 table th {
    border: calc(var(--root-size) * 0.1) solid #404040;
    font-weight: 400;
    padding: calc(var(--size) * 0.38) calc(var(--size) * 0.96);
}

.chapter--67014 b {
    font-weight: 600;
}

.rtl--55ecd .chapter--67014 li {
    margin: 0 calc(var(--root-size) * 4.2) calc(var(--root-size) * 0.6) 0;
}

.sidebarScrollable--f46f9 {
    box-sizing: border-box;
    height: 100%;
}

.chapterScrollable--90f68 {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
}

.scrollableContent--8a97a {
    padding: calc(var(--size) * 1.95) calc(var(--size) * 1.2) calc(var(--size) * 1.95)
        calc(var(--size) * 1.7);
}

.supportButton--ef5c3 {
    float: right;
    margin-bottom: calc(var(--root-size) * -2.4);
}

.rtl--55ecd .supportButton--ef5c3 {
    float: left;
}

.printable--5af50 {
    display: block;
    max-height: none;
    width: 21cm;
}

.printable--5af50 .sidebar--888d8 {
    display: none;
}

.printable--5af50.container--32017 {
    font-size: inherit;
    line-height: inherit;
}

.printable--5af50 .content--aafef {
    flex-basis: 100%;
}

.printable--5af50 .chapter--67014 {
    padding: 0;
}

.printable--5af50 .chapter--67014:not(:first-child) {
    margin: calc(var(--root-size) * 2.4) 0 0;
}

.printable--5af50 .chapterScrollable--90f68 {
    background-color: inherit;
}

.light--836fe.container--32017 {
    color: #000;
}

.light--836fe .chapter--67014 h1 {
    color: #000;
    font-weight: 700;
}

.light--836fe tbody {
    color: #000;
}

.light--836fe thead {
    color: #fff;
}

:root {
    --autoplay-button-badge-size: calc(var(--root-size) * 1.2);
}

.button--15026 {
    position: relative;
}

.badge--2bf28 {
    font-size: var(--autoplay-button-badge-size);
    position: absolute;
    right: calc(var(--autoplay-button-badge-size) * 0.6);
    top: calc(var(--autoplay-button-badge-size) * 0.2 * -1);
    transform: translate3d(50%, 0, 0);
}

.badge--2bf28.sm--dea81 {
    --autoplay-button-badge-size: calc(var(--root-size) * 1);
}

div.notificationBubble--f5aa1 {
    --notification-bubble-size: calc(var(--size) * 1.2);
    font-size: calc(var(--notification-bubble-size) * 0.9);
}

div.notificationBubble--f5aa1.sm--dea81 {
    --notification-bubble-size: var(--size);
}

:root {
    --autoplay-play-button-size: calc(var(--root-size) * 1.2);
}

.button--3efff {
    margin-top: calc(var(--size) * 1.6);
}

.button--3efff.lg--9b48e {
    margin-top: calc(var(--autoplay-play-button-size) * 1.333);
}

.iconWrapper--a94d2 {
    display: flex;
    height: 100%;
    margin-left: calc(var(--root-size) * -0.9);
    margin-right: 0;
}

.iconWrapper--a94d2.rtl--2a70e {
    margin-left: 0;
    margin-right: calc(var(--root-size) * -0.9);
}

:root {
    --autoplay-round-card-button-size: calc(var(--root-size) * 1.2);
}

.button--8dc56 {
    align-items: center;
    background-color: hsla(0, 0%, 100%, 0.9);
    border-color: hsla(0, 0%, 100%, 0.9);
    border-radius: calc(var(--autoplay-round-card-button-size) * 2);
    border-style: solid;
    border-width: calc(var(--root-size) * 0.1);
    box-sizing: border-box;
    color: #1a1a1a;
    cursor: pointer;
    display: flex;
    font-size: calc(var(--autoplay-round-card-button-size) * 0.9);
    font-weight: 600;
    justify-content: center;
    margin-top: calc(var(--autoplay-round-card-button-size) * 0.6);
    min-height: calc(var(--autoplay-round-card-button-size) * 2);
    position: relative;
    transition:
        background-color 0.3s,
        border-color 0.3s;
    width: 100%;
    z-index: 2;
}

.button--8dc56:focus {
    outline: none;
}

.button--8dc56.sm--fe466 {
    --button-size: calc(var(--size) * 1.2);
    border-color: hsla(0, 0%, 100%, 0.6);
    font-size: var(--button-size);
    margin-top: calc(var(--button-size) * 0.8);
    min-height: calc(var(--button-size) * 2);
}

.button--8dc56.smallFont--25735 {
    font-size: calc(var(--root-size) * 0.84);
}

.button--8dc56.smallFont--25735.sm--fe466 {
    font-size: calc(var(--size) * 0.8);
    min-height: calc(var(--size) * 3);
}

.button--8dc56.active--3b91c {
    background-color: #fff;
    border: none;
    color: #1a1a1a;
}

.button--8dc56.golden--3a5b6 {
    background-color: rgba(238, 190, 71, 0.9);
    border-color: rgba(238, 190, 71, 0.9);
}

.button--8dc56.golden--3a5b6.sm--fe466 {
    background-color: rgba(238, 190, 71, 0.9);
    border-color: #eebe47;
}

.button--8dc56.golden--3a5b6.active--3b91c {
    background-color: #eebe47;
}

.button--8dc56 svg {
    fill: currentColor;
    width: calc(var(--root-size) * 1.56);
}

.sm--fe466.button--8dc56 svg {
    width: calc(var(--size) * 1.92);
}

.roundCardButtonWrapper--bd502 {
    --autoplay-round-card-button-size: calc(var(--root-size) * 1);
    width: calc(var(--size) * 7);
}

.roundCardButtonWrapper--bd502.lg--32b8f {
    width: calc(var(--root-size) * 6);
}

.settingsWrapper--d816c {
    --autoplay-settings-title-size: calc(var(--root-size) * 1);
    --autoplay-bet-per-round-size: calc(var(--root-size) * 1);
    --autoplay-round-card-wrapper-size: calc(var(--root-size) * 1);
    --autoplay-round-card-rounds-size: calc(var(--root-size) * 1);
    --autoplay-round-card-separator-size: calc(var(--root-size) * 1);
    --autoplay-round-card-button-size: calc(var(--root-size) * 1);
    --autoplay-title-icon-size: calc(var(--root-size) * 1);
    width: 100%;
}

.settingsWrapper--d816c [data-role='autoplay-settings'] {
    padding: 0 !important;
}

.settingsWrapper--d816c [data-role='round-card'] {
    -webkit-mask-image: radial-gradient(#fff, #000);
    mask-image: radial-gradient(#fff, #000);
}

@media (orientation: landscape) {
    .settingsWrapper--d816c [data-role='autoplay-button-container'] {
        bottom: auto !important;
        position: relative !important;
    }
}

.settingsWrapper--d816c.md--fabb7,
.settingsWrapper--d816c.sm--9cb0c {
    --settings-size: --size;
    font-size: var(--settings-size);
    margin: 0 !important;
}

.settingsWrapper--d816c.lg--32b8f {
    width: calc(var(--root-size) * 36.5);
}

@media (orientation: portrait) and (max-width: 365px) {
    .settingsWrapper--d816c.sm--9cb0c {
        font-size: inherit;
    }
}

.playButtonWrapper--99a27 {
    --autoplay-play-button-size: calc(var(--root-size) * 1);
}

.playButtonWrapper--99a27 div {
    margin: 0 !important;
}

.autoplayButtonWithBadgeWrapper--a2639 {
    --autoplay-button-badge-size: var(--root-size);
}

@keyframes highlightKeyframes--7bf01 {
    0% {
        background: transparent;
    }

    to {
        background: hsla(0, 0%, 100%, 0.4);
    }
}

.icon--38b86 {
    position: relative;
}

.key--8971a {
    align-items: center;
    border-radius: calc(var(--root-size) * 0.4);
    box-sizing: border-box;
    display: flex;
    font-weight: 600;
    justify-content: center;
    pointer-events: auto;
    -webkit-user-select: none;
    user-select: none;
}

.key--8971a,
.key--8971a label {
    cursor: pointer;
}

.key--8971a .icon--38b86 {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 100%;
    height: calc(var(--root-size) * 3.12);
    width: calc(var(--root-size) * 2.88);
}

.key--8971a:active {
    background: hsla(0, 0%, 100%, 0.4);
}

.key--8971a.sm--0d8c8 {
    font-size: calc(var(--root-size) * 1.96);
    line-height: calc(var(--root-size) * 2.548);
}

.key--8971a.md--500a8 {
    font-size: calc(var(--root-size) * 2.4);
    line-height: calc(var(--root-size) * 1.3);
}

.key--8971a.md--500a8 .icon--38b86 {
    height: calc(var(--root-size) * 3.24);
    width: calc(var(--root-size) * 3);
}

.key--8971a.md--500a8.active--1fb6e {
    animation: highlightKeyframes--7bf01 0.3s;
}

.key--8971a.md--500a8:hover {
    background: hsla(0, 0%, 100%, 0.1);
    transition: background 0.3s;
}

.keyboard--e94ba {
    background-color: rgba(26, 26, 26, 0.95);
    border: calc(var(--root-size) * 0.2) solid hsla(0, 0%, 100%, 0.1);
    border-radius: calc(var(--root-size) * 0.8);
    bottom: 0;
    box-shadow:
        calc(var(--root-size) * -0.9) 0 calc(var(--root-size) * 1.6) calc(var(--root-size) * -1)
            rgba(0, 0, 0, 0.5),
        calc(var(--root-size) * 0.9) 0 calc(var(--root-size) * 1.6) calc(var(--root-size) * -1)
            rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    direction: ltr;
    overflow: hidden;
    padding: calc(var(--rem-migration-size) * 0.3);
    position: absolute;
    z-index: 2;
}

.keyboard--e94ba.offsetBase--24bcf {
    right: calc(var(--root-size) * 17.16);
}

.keyboard--e94ba.offsetLargest--dbe88 {
    right: calc(var(--root-size) * 16);
}

.keyboard--e94ba.offsetLarge--93176 {
    right: calc(var(--root-size) * 12);
}

.keyboard--e94ba.offsetMedium--f4299 {
    right: calc(var(--root-size) * 9.5);
}

.keyboard--e94ba.offsetSmall--55bc6 {
    right: calc(var(--root-size) * 11.5);
}

.keyboard--e94ba.offsetTiny--3da49 {
    right: calc(var(--root-size) * 8.8);
}

.keyboard--e94ba.rtl--4897c.offsetBase--24bcf {
    right: calc(var(--root-size) * 2.2);
}

.keyboard--e94ba.rtl--4897c.offsetSmall--55bc6 {
    right: calc(var(--root-size) * -0.2);
}

.keyboard--e94ba.rtl--4897c.offsetLarge--93176,
.keyboard--e94ba.rtl--4897c.offsetMedium--f4299,
.keyboard--e94ba.rtl--4897c.offsetTiny--3da49 {
    right: calc(var(--root-size) * -0.8);
}

.keyboard--e94ba.sm--c9470 {
    height: calc(var(--root-size) * 14);
    width: calc(var(--root-size) * 17.5);
}

.keyboard--e94ba.md--b3776 {
    height: calc(var(--root-size) * 15.4);
    width: calc(var(--root-size) * 17.6);
}

.keyboard--e94ba.lg--3c0dd {
    height: calc(var(--root-size) * 19);
    width: calc(var(--root-size) * 21);
}

.keys--71ab1 {
    grid-column-gap: calc(var(--rem-migration-size) * 0.2);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 100%;
}

.container--dfac6 {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.container--dfac6:not(:first-child) {
    margin-top: calc(var(--root-size) * 0.84);
}

.container--dfac6:not(:first-child).sm--5b857 {
    margin-top: calc(var(--size) * 1);
}

.container--dfac6:not(:first-child).sm--5b857.usedInPopup--148bb {
    margin-top: var(--popup-default-content-size);
}

.inputContainer--017f3 {
    align-items: center;
    direction: ltr;
    display: flex;
    position: relative;
}

.inputWrapper--99799 {
    display: flex;
}

.inputWrapper--99799.disabled--b49a4 {
    pointer-events: none;
}

.label--93228 {
    cursor: default;
    font-size: calc(var(--root-size) * 1.44);
    line-height: calc(var(--root-size) * 1.8);
    margin-left: 0;
    margin-right: calc(var(--root-size) * 0.84);
    text-align: left;
}

.rtl--802ff .label--93228 {
    margin-left: calc(var(--root-size) * 0.84);
    margin-right: 0;
    text-align: right;
}

.sm--5b857 .label--93228 {
    --label-size-sm: calc(var(--size) * 1.2);
    font-size: var(--label-size-sm);
    line-height: calc(var(--label-size-sm) * 1.5);
}

.label--93228.disabled--b49a4 {
    pointer-events: none;
}

.keyboardIcon--207b5 {
    cursor: pointer;
    position: absolute;
    right: calc(var(--root-size) * 14.4);
    top: calc(var(--root-size) * 0.72);
    z-index: 1;
}

.rtl--802ff .keyboardIcon--207b5 {
    right: calc(var(--root-size) * 0.1);
}

.keyboardIcon--207b5 svg {
    height: calc(var(--root-size) * 2.16);
    width: calc(var(--root-size) * 2.16);
}

.sm--5b857 .keyboardIcon--207b5 {
    display: none;
}

.input--245fb {
    --limitInput-borderColor_regular: #4d4d4d;
    --limitInput-borderColor_active: hsla(0, 0%, 100%, 0.6);
    --limitInput-borderColor_error: #ce1d00;
    background-color: rgba(26, 26, 26, 0.6);
    border: calc(var(--root-size) * 0.1) solid;
    border-color: var(--limitInput-borderColor_regular);
    border-radius: calc(var(--root-size) * 0.36);
    box-sizing: border-box;
    color: #fff;
    font-family: Inter;
    font-size: calc(var(--root-size) * 1.44);
    height: calc(var(--root-size) * 4.02);
    line-height: calc(var(--root-size) * 1.92);
    opacity: 0.8;
    outline: none;
    overflow: hidden;
    padding: calc(var(--root-size) * 0.768) calc(var(--root-size) * 0.672)
        calc(var(--root-size) * 0.768) calc(var(--root-size) * 2.4);
    text-align: right;
    transition-duration: 0.3s;
    transition-property: border-color, background-color;
    white-space: nowrap;
    width: calc(var(--root-size) * 16.8);
}

.rtl--802ff .input--245fb {
    padding: calc(var(--root-size) * 0.768) calc(var(--root-size) * 2.4)
        calc(var(--root-size) * 0.768) calc(var(--root-size) * 0.672);
    text-align: left;
}

.input--245fb.golden--d0f00 {
    --limitInput-borderColor_active: #eebe47;
}

.input--245fb.active--e88fc {
    background-color: hsla(0, 0%, 100%, 0.4);
    border-color: var(--limitInput-borderColor_active);
}

.input--245fb.error--e251a {
    border-color: var(--limitInput-borderColor_error);
}

.sm--5b857 .input--245fb {
    --input-limit-size-sm: calc(var(--size) * 1.8);
    font-size: var(--input-limit-size-sm);
    height: calc(var(--input-limit-size-sm) * 2.28);
    line-height: calc(var(--input-limit-size-sm) * 2);
    padding: 0 calc(var(--input-limit-size-sm) * 0.39);
    width: calc(var(--input-limit-size-sm) * 6.1);
}

.input--245fb.landscapeSm--95408 {
    width: calc(var(--input-limit-size-sm) * 6.4);
}

.currency--81d96 {
    color: #fff;
    font-size: calc(var(--root-size) * 1.44);
    font-weight: 500;
    line-height: calc(var(--root-size) * 1.92);
    margin-right: calc(var(--root-size) * 0.672);
    opacity: 0.8;
}

.sm--5b857 .currency--81d96 {
    --currency-size-sm: calc(var(--size) * 1.2);
    font-size: var(--currency-size-sm);
    line-height: calc(var(--currency-size-sm) * 1.5);
    margin-right: calc(var(--currency-size-sm) * 0.67);
}

.usedInPopup--148bb .currency--81d96,
.usedInPopup--148bb .input--245fb,
.usedInPopup--148bb .label--93228 {
    font-size: calc(var(--root-size) * 1.92);
}

.usedInPopup--148bb.sm--5b857 .currency--81d96,
.usedInPopup--148bb.sm--5b857 .input--245fb,
.usedInPopup--148bb.sm--5b857 .label--93228 {
    --input-limit-size-sm: var(--popup-default-content-size);
    font-size: var(--popup-default-content-size);
}

.usedInPopup--148bb.sm--5b857 .label--93228 {
    line-height: calc(var(--popup-default-content-size) * 1.5);
    margin-right: calc(var(--root-size) * 0.7);
}

.usedInPopup--148bb.sm--5b857 .currency--81d96 {
    margin-right: calc(var(--popup-default-content-size) * 0.67);
}

.title--44535 {
    align-items: center;
    border-bottom: 0.1em solid rgba(0, 0, 0, 0.5);
    cursor: pointer;
    display: flex;
    font-size: 1.5em;
    justify-content: space-between;
    line-height: 1.2;
    padding: 0.8em 1em;
    position: relative;
}

.title--44535:after {
    border-left: 0.4em outset transparent;
    border-color: transparent transparent transparent hsla(0, 0%, 100%, 0.7);
    border-style: outset outset outset solid;
    border-width: 0.4em 0 0.4em 0.6em;
    box-sizing: border-box;
    content: '';
    height: 0.7em;
    position: relative;
    transition: transform 0.1s ease-in-out;
}

.rtl--371a3 .title--44535:after {
    border-left-width: 0;
    border-right: 0.6em solid hsla(0, 0%, 100%, 0.7);
}

.expanded--f67e6 .title--44535:after {
    transform: rotate(90deg);
}

.expanded--f67e6.rtl--371a3 .title--44535:after {
    transform: rotate(-90deg);
}

@media (orientation: landscape) {
    .title--44535 {
        font-size: 1.7em;
    }
}

.contentContainer--a4178 p,
.contentContainer--a4178 ul {
    line-height: 1.375em;
}

.contentContainer--a4178 p {
    margin-bottom: 1em;
}

.contentContainer--a4178 table {
    text-align: left;
}

[dir='rtl'] .contentContainer--a4178 table {
    text-align: right;
}

.contentContainer--a4178 table {
    border: calc(var(--root-size) * 0.1) solid #999;
    border-collapse: collapse;
    font-size: 1.3em;
    line-height: 1.375em;
    margin-bottom: 1.5em;
    width: 100%;
}

.contentContainer--a4178 table thead {
    text-align: left;
}

[dir='rtl'] .contentContainer--a4178 table thead {
    text-align: right;
}

.contentContainer--a4178 table thead {
    background-color: #515151;
}

.contentContainer--a4178 table td,
.contentContainer--a4178 table th {
    border: calc(var(--root-size) * 0.1) solid #999;
    padding: calc(var(--root-size) * 0.2) calc(var(--root-size) * 0.3);
}

.contentContainer--a4178 ol,
.contentContainer--a4178 ul {
    font-size: 1.3em;
    line-height: 1.375em;
    margin: 0 0 1em;
}

.contentContainer--a4178 li {
    margin: 0 0 0.2em 2.5em;
}

[dir='rtl'] .contentContainer--a4178 li {
    margin: 0 2.5em 0.2em 0;
}

.contentContainer--a4178 {
    background: hsla(0, 0%, 100%, 0.1);
    display: block;
    height: 0;
    overflow: hidden;
    overflow-wrap: break-word;
    transition: height 0.5s;
}

.contentContainer--a4178 p {
    font-size: 1.3em;
}

.contentContainer--a4178 h2 {
    font-size: 1.3em;
    font-weight: 600;
    margin: calc(var(--rem-migration-size) * 0.8) 0 calc(var(--rem-migration-size) * 0.4) 0;
}

.contentContainer--a4178 h2 u {
    text-decoration: none;
}

.contentContainer--a4178 .content--3e5a4 {
    padding: 0.8em 0.8em calc(var(--root-size) * 0.1);
}

.root--a4bdb {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto !important;
}

.root--a4bdb > :last-child {
    margin-bottom: calc(var(--root-size) * 5);
}

@media only screen and (device-width: 320px) and (device-height: 693px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait),
    only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait),
    only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait),
    only screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait),
    only screen and (device-width: 393px) and (device-height: 852px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait),
    only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait),
    only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait),
    only screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait),
    only screen and (device-width: 430px) and (device-height: 932px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
    .root--a4bdb > :last-child {
        margin-bottom: var(--extendedDangerZone);
    }
}

.version--95ffa {
    font-size: 1em;
    padding: calc(var(--root-size) * 1) calc(var(--root-size) * 1.5);
}

.inputs--63459 {
    position: relative;
    width: 100%;
}

:root {
    --autoplay-round-card-size: calc(var(--root-size) * 1.2);
    --autoplay-round-card-wrapper-size: calc(var(--root-size) * 1.2);
    --autoplay-round-card-rounds-size: calc(var(--root-size) * 1.2);
    --autoplay-round-card-separator-size: calc(var(--root-size) * 1.2);
}

.cardWrapper--6b6db {
    background: linear-gradient(180deg, transparent, #000);
    border: none;
    border-radius: calc(var(--autoplay-round-card-wrapper-size) * 0.8);
    box-sizing: border-box;
    color: inherit;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    overflow: hidden;
    padding: var(--autoplay-round-card-wrapper-size)
        calc(var(--autoplay-round-card-wrapper-size) * 0.65)
        calc(var(--autoplay-round-card-wrapper-size) * 0.65);
    position: relative;
    text-align: center;
    width: calc(var(--autoplay-round-card-wrapper-size) * 6.666);
}

.cardWrapper--6b6db.sm--a084b {
    border-radius: calc(var(--root-size) * 0.8);
    padding: calc(var(--size) * 1.2) calc(var(--size) * 0.8) calc(var(--size) * 0.8);
    width: calc(var(--size) * 8);
}

.cardWrapper--6b6db:after {
    border: calc(var(--root-size) * 0.2) solid hsla(0, 0%, 100%, 0.1);
    border-radius: calc(var(--root-size) * 0.96);
    bottom: 0;
    content: '';
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    transition: border 0.3s;
}

.cardWrapper--6b6db.sm--a084b:after {
    border-radius: calc(var(--root-size) * 0.8);
}

.cardWrapper--6b6db:focus {
    outline: none;
}

.cardWrapper--6b6db:hover:not(.sm--a084b) {
    background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0.5), rgba(0, 0, 0, 0.5)),
        linear-gradient(180deg, transparent, #000);
}

.cardWrapper--6b6db:hover:not(.sm--a084b):after {
    border: calc(var(--root-size) * 0.2) solid hsla(0, 0%, 100%, 0.6);
}

.cardWrapper--6b6db:hover:not(.sm--a084b) [data-role='round-card-button'] {
    background-color: #d3d3d3;
    border: none;
}

.cardWrapper--6b6db.golden--105af:hover:not(.sm--a084b) [data-role='round-card-button'] {
    background-color: rgba(238, 190, 71, 0.6);
    border: none;
}

.cardWrapper--6b6db.limits--3e6d7 {
    padding: calc(var(--root-size) * 1.2) calc(var(--root-size) * 0.78);
}

.cardWrapper--6b6db.limits--3e6d7.sm--a084b {
    padding: calc(var(--root-size) * 1.2) calc(var(--root-size) * 0.8);
}

.selected--7991e {
    background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0.5), rgba(0, 0, 0, 0.5)),
        linear-gradient(180deg, transparent, #000);
}

.selected--7991e.running--88775 {
    background-image: none;
}

.selected--7991e:after {
    border: calc(var(--root-size) * 0.2) solid hsla(0, 0%, 100%, 0.6);
}

.amount--1649b {
    color: #87ffff;
    display: block;
    font-size: calc(var(--rem-migration-size) * 2.667);
    font-weight: 600;
    letter-spacing: calc(var(--rem-migration-size) * -0.017);
    line-height: calc(var(--rem-migration-size) * 3.333);
    position: relative;
    text-shadow: 0 calc(var(--root-size) * 0.1) calc(var(--root-size) * 0.2) rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.golden--105af .amount--1649b {
    color: #eebe47;
}

.rounds--1008f {
    color: hsla(0, 0%, 100%, 0.9);
    display: block;
    font-size: calc(var(--rem-migration-size) * 0.833);
    font-weight: 600;
    letter-spacing: calc(var(--rem-migration-size) * 0.008);
    line-height: calc(var(--rem-migration-size) * 1);
    padding: calc(var(--autoplay-round-card-rounds-size) * 0.166) 0;
    position: relative;
    z-index: 2;
}

.separator--9766a {
    background-color: hsla(0, 0%, 100%, 0.4);
    height: calc(var(--root-size) * 0.1);
    margin: calc(var(--autoplay-round-card-separator-size) * 0.333) auto;
    width: 55%;
}

.separator--9766a.sm--a084b {
    margin: calc(var(--root-size) * 0.333) auto;
}

.totalBet--3b03a {
    text-align: center;
}

.totalBet--3b03a .bet--5a55c {
    color: #fff;
    direction: ltr;
    font-size: calc(var(--rem-migration-size) * 0.833);
    font-weight: 600;
    letter-spacing: calc(var(--rem-migration-size) * 0.008);
    line-height: calc(var(--rem-migration-size) * 1);
    white-space: nowrap;
}

.totalBet--3b03a .betContainer--575ad {
    overflow: hidden;
}

.progressBar--7c780 {
    background-color: #fff;
    bottom: 0;
    display: block;
    left: 0;
    position: absolute;
    transition: height 0.3s;
    width: 100%;
    z-index: 0;
}

.sm--a084b .amount--1649b {
    font-size: 3.2em;
    font-weight: 600;
    letter-spacing: -0.00625em;
    line-height: 1.25em;
}

.sm--a084b .bet--5a55c,
.sm--a084b .rounds--1008f {
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 0.01em;
    line-height: 1.2em;
}

.sm--a084b .rounds--1008f {
    padding: calc(var(--size) * 0.2) 0;
}

:root {
    --extendedDangerZone: clamp(calc(var(--root-size) * 5.6), 90px, calc(var(--root-size) * 9));
}

@supports not (
    padding-bottom: clamp(calc(var(--root-size) * 5.6), 90px, calc(var(--root-size) * 9))
) {
    :root {
        --extendedDangerZone: 90px;
    }
}

:root {
    --autoplay-settings-title-size: calc(var(--root-size) * 1.2);
    --autoplay-bet-per-round-size: calc(var(--root-size) * 1.2);
    --autoplay-title-icon-size: calc(var(--root-size) * 1.2);
}

.settings--01a44 {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 0 calc(var(--root-size) * 1.596);
    position: relative;
    width: 100%;
}

.settings--01a44.md--abbcf {
    padding: 0 calc(var(--size) * 1.6) 0 0;
}

.settings--01a44.sm--6ccdf {
    padding: 0 calc(var(--size) * 1.6);
}

.settings--01a44.sm--6ccdf.landscape--90801 {
    padding: 0 calc(var(--size) * 1.6) 0 0;
}

.settings--01a44.sm--6ccdf.landscape--90801.additionalPadding--19cc2 {
    padding-bottom: calc(var(--size) * 6);
}

.title--11a7c {
    align-items: center;
    cursor: default;
    display: flex;
    justify-content: center;
    margin-bottom: calc(var(--autoplay-settings-title-size) * 1.333);
}

.title--11a7c .icon--ddeb8 {
    height: calc(var(--autoplay-title-icon-size) * 2.666);
    margin-right: calc(var(--autoplay-title-icon-size) * 0.666);
    width: calc(var(--autoplay-title-icon-size) * 2.666);
}

.rtl--c1927 .title--11a7c {
    direction: rtl;
}

.rtl--c1927 .title--11a7c .icon--ddeb8 {
    margin-left: calc(var(--root-size) * 0.666);
    margin-right: 0;
}

.title--11a7c .text--0bdf0 {
    font-size: calc(var(--rem-migration-size) * 2);
    font-weight: 600;
    letter-spacing: calc(var(--rem-migration-size) * -0.017);
    line-height: calc(var(--rem-migration-size) * 2.667);
}

.md--abbcf .title--11a7c .text--0bdf0,
.sm--6ccdf .title--11a7c .text--0bdf0 {
    font-size: 2.4em;
    font-weight: 600;
    letter-spacing: -0.008em;
    line-height: 1.333em;
}

.betPerRound--00df0 {
    color: #fff;
    cursor: default;
    font-size: var(--autoplay-bet-per-round-size);
    font-weight: 600;
    letter-spacing: 0;
    line-height: calc(var(--autoplay-bet-per-round-size) * 1.333);
    margin-bottom: calc(var(--autoplay-bet-per-round-size) * 0.666);
    text-align: center;
}

.rtl--c1927 .betPerRound--00df0 {
    direction: rtl;
}

.md--abbcf .betPerRound--00df0,
.sm--6ccdf .betPerRound--00df0 {
    --betPerRound-size: calc(var(--size) * 1.2);
    font-size: var(--betPerRound-size);
    letter-spacing: 0;
    line-height: calc(var(--betPerRound-size) * 1.333);
    margin-bottom: calc(var(--betPerRound-size) * 0.666);
}

.betPerRound--00df0 .value--37fa3 {
    color: #fc0;
    direction: ltr;
    display: inline-block;
}

.roundsCards--29baa {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.md--abbcf .roundsCards--29baa,
.sm--6ccdf .roundsCards--29baa {
    margin-bottom: calc(var(--size) * 1.6);
}

.rtl--c1927 .roundsCards--29baa {
    direction: rtl;
}

.notification--c7130 {
    --notification-size: calc(var(--size) * 1.2);
    color: hsla(0, 0%, 100%, 0.6);
    cursor: default;
    font-size: calc(var(--rem-migration-size) * 1.167);
    font-weight: 400;
    letter-spacing: calc(var(--rem-migration-size) * -0.005);
    line-height: calc(var(--rem-migration-size) * 1.333);
    margin-bottom: calc(var(--notification-size) * 1.333);
    text-align: center;
}

.notification--c7130.withoutMarginTop--3aed1 {
    margin-top: 0;
}

.md--abbcf .notification--c7130,
.sm--6ccdf .notification--c7130 {
    --notification-size: calc(var(--size) * 1.4);
    font-size: var(--notification-size);
    font-weight: 400;
    letter-spacing: calc(var(--notification-size) * 0.004 * -1);
    line-height: calc(var(--notification-size) * 1.143);
    margin-bottom: calc(var(--notification-size) * 1.142);
}

@media screen and (max-width: 364px) {
    .md--abbcf .notification--c7130,
    .sm--6ccdf .notification--c7130 {
        --notification-size: calc(var(--size) * 1.2);
        line-height: calc(var(--notification-size) * 1.5);
    }
}

.limits--2cc52 {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-top: calc(var(--root-size) * 1.596);
    width: 100%;
}

.rtl--c1927 .limits--2cc52 {
    direction: rtl;
}

.md--abbcf .limits--2cc52,
.sm--6ccdf .limits--2cc52 {
    margin-top: 0;
}

.buttonLandscapeMobileContainer--33235 {
    bottom: calc(var(--root-size) * 2);
    position: fixed;
}

.icon--5f40f img {
    left: 0;
    position: absolute;
    top: 0;
}

.icon--66642 {
    height: calc(var(--root-size) * 3.3);
    position: absolute;
    width: calc(var(--root-size) * 3.3);
}

.wrapper--33be0 {
    display: inline-block;
    min-width: calc(var(--rem-migration-size) * 11.5);
}

.row--6b60c {
    align-items: center;
    display: flex;
    gap: 1.33em;
}

.license--18cc1 {
    max-width: calc(var(--rem-migration-size) * 55);
}

.licenseText--c0aaa {
    overflow-wrap: break-word;
}

.licenseTextToggle--14d3a {
    cursor: pointer;
    margin-left: calc(var(--root-size) * 0.5);
    text-decoration: underline;
}

.licenseDetailsList--5ac6b {
    word-break: break-word;
}

.tableStyle--88e2e tr td:first-child {
    width: calc(var(--root-size) * 20);
}

.tableStyle--88e2e tr td:last-child {
    width: calc(var(--root-size) * 49);
}

.dropdownSelector--3fdda {
    font-size: calc(var(--rem-migration-size) * 1.6);
    padding: calc(var(--rem-migration-size) * 1) 0;
    text-align: left;
}

.dropdownSelector--3fdda.rtl--d8774 {
    text-align: right;
}

.row--40a6f {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    height: calc(var(--rem-migration-size) * 4);
    padding: calc(var(--rem-migration-size) * 1) calc(var(--rem-migration-size) * 2);
}

.title--adf4f {
    color: #fff;
    font-weight: 700;
}

.option--300fe {
    color: hsla(0, 0%, 100%, 0.8);
    cursor: pointer;
    transition: background-color 0.2s;
}

.option--300fe:hover {
    background-color: hsla(0, 0%, 100%, 0.2);
    color: #fff;
    transition: none;
}

.option--300fe:hover.golden--fa3ad {
    background-color: rgba(238, 190, 71, 0.2);
}

.option--300fe.selected--c030a {
    color: #96ffff;
}

.option--300fe.selected--c030a.golden--fa3ad {
    color: #eebe47;
}

.option--300fe.disabled--1ffed {
    background-color: unset !important;
    color: hsla(0, 0%, 100%, 0.4);
    cursor: not-allowed;
}

.icon--c844f {
    height: 1.3em;
    margin-right: 1em;
    width: 1.3em;
}

.rtl--d8774 .icon--c844f {
    margin-left: 1em;
    margin-right: 0;
}

.dropdownContainer--6cc92 {
    display: inline-block;
    position: relative;
}

.dropdownContainer--6cc92.rtl--f74a7 {
    direction: rtl;
}

.speedDropdownContainer--b07cf {
    position: relative;
    width: calc(var(--root-size) * 14);
}

.speedDropdownContainer--b07cf .speedDropdownContainerInner--33cb7 {
    bottom: 0;
    margin-left: calc(var(--root-size) * 4.5);
    position: absolute;
}

.mobileList--8e74d {
    font-size: unset !important;
}

.list--85151 {
    margin-top: unset !important;
}

.row--54e42,
.row--8ab2a {
    align-items: center;
    display: flex;
    gap: 1.33em;
}

.menuItemIcon--86f6c {
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 0.8em;
    box-sizing: border-box;
    display: block;
    height: 3.1em;
    line-height: 3.1em;
    min-width: 3.1em;
    padding: 0.5em;
    text-align: center;
    width: 3.1em;
}

/*# sourceMappingURL=https://sourcemaps.egcdn.com/frontend/evo/r1/styles/help.common.15a4cc86.css.map*/
