.top {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.title {
    text-transform: capitalize;
    color: #fff;
    font-weight: 500;
}

.icon {
    width: 2rem;
    height: 2rem;

    svg {
        width: 100%;
        height: 100%;
    }
}

.disclaimer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    margin-top: 1rem;

    border-radius: 0.5rem;
    border: 0.05rem solid rgba(255, 199, 0, 0.12);
    background-color: rgba(255, 199, 0, 0.05);
}

.disclaimer-title {
    color: #ffc700;
    font-weight: 400;
    text-transform: capitalize;
}
