.container {
    position: relative;
    height: 2rem;
    width: 1.515rem;
}

.container > svg {
    width: 100%;
    height: 100%;
}

.value {
    position: absolute;
    top: 0.1rem;
    left: 0.2rem;
    font-weight: 400;
    font-weight: 700;
    text-transform: uppercase;
    white-space: nowrap;
}
