.paragraf {
    font-size: 1.2rem;
    line-height: normal;
    letter-spacing: 0.012rem;
    text-align: center;

    &:not(:last-child) {
        margin-bottom: 0.8rem;
    }
}

:global(.desktop) {
    .paragraf {
        font-size: 1.5rem;
        line-height: 1.5;
    }
}
