.coin-container-render.selected {
    z-index: 5;
    animation: selected-coin-clip 0.75s linear forwards;
}

.coin-container-renderl {
    animation: unselected-coin-clipl 0.75s linear forwards;
}

.coin-container-renderl.selected {
    animation: selected-coin-clipl 0.75s linear forwards;
}

.rbutton {
    opacity: 1;
}

.rbutton:active:not(:disabled) {
    animation: button-click 0.2s linear;
}

.rbutton:disabled,
.rbutton[disabled] {
    opacity: 0.5;
}

@keyframes button-click {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(0.85, 0.85);
    }

    100% {
        transform: scale(1, 1);
    }
}

@keyframes selected-coin-clip {
    0% {
        transform: perspective(1000px) translateY(0px) scale(1.2, 1.2) rotateY(0deg);
    }

    40% {
        transform: perspective(1000px) translateY(-12px) scale(1.25, 1.25) rotateY(360deg);
    }

    55%,
    to {
        transform: perspective(1000px) translateY(-6px) scale(1.25, 1.25) rotateY(360deg);
    }
}

@keyframes unselected-coin-clip {
    0% {
        transform: translateY(-6px) scale(1.25, 1.25);
    }

    100% {
        transform: translateY(0px) scale(1.2, 1.2);
    }
}

@keyframes selected-coin-clipl {
    0% {
        transform: perspective(1000px) translateX(0px) scale(1.2, 1.2) rotateY(0deg);
    }

    40% {
        transform: perspective(1000px) translateX(-20px) scale(1.25, 1.25) rotateY(360deg);
    }

    55%,
    to {
        transform: perspective(1000px) translateX(-10px) scale(1.25, 1.25) rotateY(360deg);
    }
}

@keyframes unselected-coin-clipl {
    0% {
        transform: translateX(-10px) scale(1.25, 1.25);
    }

    100% {
        transform: translateX(0px) scale(1.2, 1.2);
    }
}

@keyframes coin-spin {
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }

    30% {
        transform: perspective(1000px) rotateY(360deg);
    }
}

.panel-appear {
    animation: appear-clip 0.45s linear both;
}

.panel-appear.disappear {
    animation: disappear-clip 0.45s linear both;
}

@keyframes appear-clip {
    0% {
        opacity: 0;
        position: absolute;
    }
    5% {
        opacity: 0;
        position: relative;
    }

    100% {
        opacity: 1;
        position: relative;
        z-index: 0;
    }
}

@keyframes disappear-clip {
    0% {
        opacity: 1;
        position: relative;
    }
    5% {
        opacity: 1;
        position: absolute;
        width: 100%;
    }

    100% {
        opacity: 0;
        position: absolute;
        z-index: -1;
        width: 100%;
    }
}

.idtimer {
    animation: time-popup 0.35s linear forwards;
}

.idtimer.disappear {
    animation: time-hide 0.35s linear forwards;
}

@keyframes time-popup {
    0% {
        transform-origin: center;
        transform: translate(-50%, -50%) scale(0, 0);
    }

    100% {
        transform-origin: center;
        transform: translate(-50%, -50%) scale(1, 1);
    }
}

@keyframes time-hide {
    0% {
        transform-origin: center;
        transform: translate(-50%, -50%) scale(1, 1);
    }

    100% {
        transform-origin: center;
        transform: translate(-50%, -50%) scale(0, 0);
    }
}

.card-slot {
    animation: cardpush 0.65s linear forwards;
}

.card-slot.disappear {
    animation: cardpull 0.65s linear forwards;
}

@keyframes cardpush {
    0% {
        transform: translate(0px, 0px);
        opacity: 0;
    }

    55% {
        opacity: 1;
    }

    65% {
        transform: translate(0px, 120%);
    }

    100% {
        transform: translate(0px, 120%);
    }
}

@keyframes cardpull {
    0% {
        transform: translate(0px, 120%);
        opacity: 1;
    }

    55% {
        opacity: 0;
    }

    65% {
        opacity: 0;
        transform: translate(0px, 0px);
    }

    100% {
        opacity: 0;
        transform: translate(0px, 0px);
    }
}

.card-core {
    animation: flipdown 0.65s linear both;
}

.card-core.flipup {
    animation: flipup 0.65s linear both;
}

@keyframes flipup {
    0% {
        transform: rotateY(0deg);
    }

    45% {
        transform: rotateY(180deg);
    }

    100% {
        transform: rotateY(180deg);
    }
}

@keyframes flipdown {
    0% {
        transform: rotateY(180deg);
    }

    45% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(0deg);
    }
}

/* .panel-board {
  animation: panel-unselect 0.15s linear forwards;
}

.panel-board.selected {
  animation: panel-select 0.15s linear forwards;
} */

@keyframes panel-unselect {
    0% {
        transform: scale(0.95, 0.95);
    }

    100% {
        transform: scale(1, 1);
    }
}

@keyframes panel-select {
    0% {
        transform: scale(1, 1);
    }

    100% {
        transform: scale(0.95, 0.95);
    }
}

.container-center-board.openpanel {
    animation: open-panel-anim 0.45s linear forwards;
}

@keyframes open-panel-anim {
    0% {
        opacity: 0.75;
        transform: translate(-50%, -10%) scale(0.75, 0.75) perspective(1000px) rotateX(45deg);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -30%) scale(1, 1) perspective(1000px) rotateX(0deg);
    }
}

.container-center-board.closepanel {
    animation: close-panel-anim 0.45s linear forwards;
}

@keyframes close-panel-anim {
    0% {
        opacity: 1;
        transform: translate(-50%, -30%) scale(1, 1) perspective(1000px) rotateX(0deg);
    }

    100% {
        opacity: 0.75;
        transform: translate(-50%, -10%) scale(0.75, 0.75) perspective(1000px) rotateX(45deg);
    }
}

.overlay-panel.close {
    animation: overlay-close 0.65s linear forwards;
}

@keyframes overlay-open {
    0% {
        opacity: 0;
        transform: scale(0, 0);
    }

    60% {
        opacity: 0.65;
        transform: scale(0.85, 0.85);
    }

    100% {
        opacity: 1;
        transform: scale(1, 1);
    }
}

@keyframes overlay-close {
    0% {
        opacity: 1;
        transform: scale(1, 1);
    }

    40% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        transform: scale(0, 0);
    }
}

.overlay-panel-2.disappear {
    animation: panel-fadeout 0.35s forwards 0.2s;
}

.menu-mainframe.disappear {
    animation: mainmenu-slidedown 0.75s forwards;
}

.landscape-menu-mainframe.disappear {
    animation: mainmenu-slideright 0.75s forwards;
}

.menu-settings-mainframe.disappear {
    animation: settingsmenu-slidedown 0.6s linear forwards;
}

.landscape-menu-settings-mainframe.disappear {
    animation: settingsmenu-slideright 0.6s linear forwards;
}

.menu-history-mainframe.disappear {
    animation: settingsmenu-slidedown 0.6s linear forwards;
}

.landscape-menu-history-mainframe.disappear {
    animation: settingsmenu-slideright 0.6s linear forwards;
}

@keyframes panel-fadein {
    0% {
        opacity: 0;
        transform: scale(1, 1);
    }
    100% {
        opacity: 1;
        transform: scale(1, 1);
    }
}

@keyframes panel-fadeout {
    0% {
        opacity: 1;
        transform: scale(1, 1);
    }
    95% {
        opacity: 0;
        transform: scale(1, 1);
    }
    100% {
        opacity: 0;
        transform: scale(0, 0);
    }
}

@keyframes mainmenu-slideup {
    0% {
        transform: translateY(1000px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes mainmenu-slidedown {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(1000px);
    }
}

@keyframes settingsmenu-slideup {
    0% {
        transform: translateY(1000px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes settingsmenu-slidedown {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(1000px);
    }
}

@keyframes mainmenu-slideleft {
    0% {
        transform: translateX(1000px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes mainmenu-slideright {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(1000px);
    }
}

@keyframes settingsmenu-slideleft {
    0% {
        transform: translateX(1000px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes settingsmenu-slideright {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(1000px);
    }
}

.detail-history.close {
    animation: accordion-hist-close 0.4s linear forwards;
}

.detail-history.open {
    animation: accordion-hist-open 0.4s linear forwards;
}

@keyframes accordion-hist-close {
    0% {
        height: fit-content;
        opacity: 1;
        transform: scaleY(1);
    }
    10% {
        opacity: 0;
    }
    100% {
        height: 0px;
        opacity: 0;
        transform: scaleY(0);
        position: absolute;
    }
}

@keyframes accordion-hist-open {
    0% {
        height: 0px;
        opacity: 0;
        transform: scaleY(0);
        position: absolute;
    }
    90% {
        opacity: 0;
        position: relative;
    }
    100% {
        height: fit-content;
        opacity: 1;
        transform: scaleY(1);
    }
}

.menu-general-mainframe.disappear {
    animation: generalmenu-slidedown 0.75s linear forwards;
}

.landscape-menu-general-mainframe.disappear {
    animation: generalmenu-slideright 0.75s linear forwards;
}

@keyframes generalmenu-slideleft {
    0% {
        transform: translateX(1000px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes generalmenu-slideright {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(1000px);
    }
}

@keyframes generalmenu-slideup {
    0% {
        transform: translateY(1000px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes generalmenu-slidedown {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(1000px);
    }
}

.accordion-content.close {
    animation: accordion-general-close 0.4s linear forwards;
}

.accordion-content.open {
    animation: accordion-general-open 0.4s linear forwards;
}

@keyframes accordion-general-close {
    0% {
        height: fit-content;
        opacity: 1;
        transform: scaleY(1);
    }
    10% {
        opacity: 0;
    }
    100% {
        height: 0px;
        opacity: 0;
        transform: scaleY(0);
    }
}

@keyframes accordion-general-open {
    0% {
        height: 0%;
        opacity: 0;
        transform: scaleY(0);
    }
    50% {
        opacity: 0;
    }
    100% {
        height: fit-content;
        opacity: 1;
        transform: scaleY(1);
    }
}

.accordion-icon-content.close {
    animation: accordion-icon-general-close 0.4s linear forwards;
}

.accordion-icon-content.open {
    animation: accordion-icon-general-open 0.4s linear forwards;
}

@keyframes accordion-icon-general-open {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(180deg);
    }
}

@keyframes accordion-icon-general-close {
    0% {
        transform: rotateZ(180deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}

.landscape-top-board.close {
    animation: landscape-board-hide 0.35s linear forwards;
}

.landscape-top-board.open {
    animation: landscape-board-show 0.35s linear forwards;
}

@keyframes landscape-board-show {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes landscape-board-hide {
    0% {
        transform: translateY(0px);
        opacity: 1;
    }
    100% {
        transform: translateY(-100%);
        opacity: 0;
    }
}
