@media screen and (min-width: 480px) and (orientation: portrait) {
  /* .web-stream {
    width: fit-content;
    height: 35%;
    aspect-ratio: 16/9;
  } */

  .coin-text {
    font-size: 10.5px;
  }

  .coin-text-selected {
    font-size: 8.5px;
  }

  /* #main-page-content {
    top: 0px;
  } */
}

@media screen and (min-width: 512px) and (orientation: portrait) {
  /* .web-stream {
    width: fit-content;
    height: 45%;
    aspect-ratio: 16/9;
  } */

  .coin-text {
    font-size: 12.5px;
  }

  .coin-text-selected {
    font-size: 10.5px;
  }

  /* #main-page-content {
    top: -40px;
  } */
}

@media screen and (min-width: 720px) and (orientation: portrait) {
  /* .web-stream {
    width: fit-content;
    height: 45%;
    aspect-ratio: 16/9;
  } */
  .coin-text {
    font-size: 18.5px;
  }

  .coin-text-selected {
    font-size: 10px;
  }

  /* #main-page-content {
    top: -40px;
  } */
}

@media screen and (min-width: 1024px) and (orientation: portrait) {
  /* .web-stream {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
  } */
  .coin-text {
    font-size: 18.5px;
  }

  .coin-text-selected {
    font-size: 16.5px;
  }

  /* #main-page-content {
    top: -40px;
  } */
}

@media screen and (min-height: 360px) and (min-aspect-ratio: 3/4) and (orientation: portrait) {
  /* .web-stream {
    width: fit-content;
    height: 35%;
    aspect-ratio: 16/9;
  } */
}

@media screen and (min-height: 360px) and (min-aspect-ratio: 9/20) and (orientation: portrait) {
  /* .web-stream {
    width: fit-content;
    height: 35%;
    aspect-ratio: 16/9;
  } */
}

@media screen and (min-height: 720px) and (min-aspect-ratio: 9/20) and (orientation: portrait) {
  /* .web-stream {
    width: fit-content;
    height: 38%;
    aspect-ratio: 16/9;
  } */
}

@media screen and (min-height: 780px) and (min-aspect-ratio: 9/20) and (orientation: portrait) {
  /* .web-stream {
    width: fit-content;
    height: 39%;
    aspect-ratio: 16/9;
  } */
}

@media screen and (min-height: 780px) and (min-aspect-ratio: 9/22) and (orientation: portrait) {
  /* .web-stream {
    width: fit-content;
    height: 39%;
    aspect-ratio: 16/9;
  } */
}

@media screen and (min-height: 880px) and (min-aspect-ratio: 9/26) and (orientation: portrait) {
  /* .web-stream {
    width: fit-content;
    height: 42%;
    aspect-ratio: 16/9;
  } */
}

/*Landscape*/

/* @media screen and (min-width: 360px) and (max-aspect-ratio: 4/3) and (orientation: landscape) {
  .web-stream {
    top: -100px;
    width: 115%;
    height: fit-content;
    aspect-ratio: 16/9;
  }
} */

@media screen and (max-height: 351px) and (orientation: landscape) {
  .bottom-card-label {
    font-size: 5.5px;
  }

  .bottom-smcard-label {
    font-size: 4.5px;
  }

  /* .navbet-panel-landscape {
    width: 30px;
  } */

  /* .btn-nav {
    width: 30px;
    height: 30px;
  } */

  .bet-nav-landscape {
    height: 25vh;
  }

  .panel-coin-landscape {
    height: 36px;
  }

  .coin-text-selected {
    font-size: 6.8px;
  }
}

@media screen and (min-height: 352px) and (orientation: landscape) {
  .bottom-card-label {
    font-size: 6px;
  }

  .bottom-smcard-label {
    font-size: 5px;
  }

  .svg-union-logo {
    height: 10px;
  }
}

@media screen and (min-height: 365px) and (orientation: landscape) {
  /* .navbet-panel-landscape {
    width: 42px;
  } */

  /* .btn-nav {
    width: 36px;
    height: 36px;
  } */

  /* .bet-nav-landscape {
    height: 146px;
  } */

  .panel-coin-landscape {
    height: 36px;
  }
}

@media screen and (min-height: 627px) and (orientation: landscape) {
  .bottom-card-label {
    font-size: 18px;
  }

  .bottom-smcard-label {
    font-size: 12px;
  }

  .svg-union-logo {
    height: 25px;
  }

  .bottom-betcard-label {
    font-size: 12px;
    margin: 12px 0px;
  }

  .bottom-betcard-title {
    font-size: 24px;
  }

  /* .navbet-panel-landscape {
    width: 100px;
  } */

  /* .btn-nav {
    width: 80px;
    height: 80px;
  } */

  /* .bet-nav-landscape {
    height: 46%;
  } */

  .panel-coin-landscape {
    height: 76px;
  }
}

@media screen and (max-aspect-ratio: 1.6) and (orientation: landscape) {
  .web-stream-iframe {
    position: absolute;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    aspect-ratio: 16/9;
  }
}

@media screen and (min-aspect-ratio: 1.7) and (orientation: landscape) {
  .web-stream-iframe {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    aspect-ratio: 16/9;
  }
}
