/* @font-face {
    font-family: 'ManropeCustom';
    src: url('../../fonts/Manrope.ttf') format('truetype');
}

@font-face {
    font-family: 'InterCustom';
    src: url('../../fonts/Inter.ttf') format('truetype');
}

@font-face {
    font-family: 'InterMidCustom';
    src: url('../../fonts/InterMedium.ttf') format('truetype');
}

@font-face {
    font-family: 'RethinksansCustom';
    src: url('../../fonts/Rethinksans.ttf') format('truetype');
} */

body {
    font-family: 'Manrope', sans-serif;
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1;
}
.hidden-ui {
    display: none;
}
.show-ui {
    display: initial;
}
.ui-idn {
    position: fixed;
    z-index: 2;
}

.web-stream {
    position: relative;
    width: 100%;
    flex: 2;
}

.web-stream-landscape {
    position: fixed;
    width: 100%;
    height: 100%;
}

.web-stream-iframe {
    position: absolute;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    aspect-ratio: 16/9;
}

.cover-fixed {
    position: fixed;
    top: 0px;
    left: 0px;
    border: none;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        to top,
        rgba(2, 16, 33, 1) 0%,
        rgba(5, 67, 131, 1) 80%,
        rgba(5, 67, 131, 1) 100%
    );
}

.cover-absolute {
    position: absolute;
    top: 0px;
    left: 0px;
    border: none;
    width: 100%;
    height: 100%;
    background-color: white;
}

.footer-ui {
    position: relative;
    width: 100%;
    flex: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 8px;
    box-sizing: border-box;
}

.child-content {
    position: absolute;
}

#main-page-content {
    top: 0px;
}

/* width */
.customscrollbar {
    scrollbar-width: 0px;
}

.customscrollbar::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.customscrollbar.smallux::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

/* Track */
.customscrollbar::-webkit-scrollbar-track {
    background: #f1f1f100;
}

/* Handle */
.customscrollbar::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0);
}

/* Handle on hover */
.customscrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.popup-bg {
    position: fixed;
    background: rgba(0, 0, 0, 0.65);
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 555;
}

.popup-mainframe {
    position: fixed;
    background: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 320px;
    box-shadow: 4px 4px 70px 10px rgb(0 0 0/11%);
    border-radius: 25px;
}

.popup-imgbox {
    text-align: center;
    margin-top: 40px;
}

.popup-title {
    margin-top: 10px;
}

.popup-title h3 {
    font-weight: 600;
    font-size: 26px;
    letter-spacing: 0.05em;
    text-align: center;
    margin: auto;
}

.popup-detail {
    margin-top: 12px;
}

.popup-detail p {
    font-weight: 500;
    width: 80%;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0.05em;
    text-align: center;
    margin: auto;
}

.popup-navigation {
    margin-top: 15px;
    text-align: center;
}

.popup-navigation button {
    width: 50%;
    border-radius: 25px;
    padding: 10px;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    letter-spacing: 0.05em;
    background: rgb(242, 30, 30);
    border: none;
}

.coin-item {
    transition: transform 0.2s;
}

.coin-container-render {
    animation: unselected-coin-clip 0.15s forwards;
}

.coin-core-outline {
    opacity: 0;
}

.coin-core-outline.show {
    opacity: 1;
}

.coin-text {
    font-size: 12px;
}

.coin-text-selected {
    font-size: 9px;
}

.card-core {
    transform-style: preserve-3d;
}

.card-core-detail {
    transform-style: preserve-3d;
}

.card-cover {
    backface-visibility: hidden;
}

.card-value {
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

.container-center-board {
    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: space-between;
    width: 100%;
    height: 95%;
    /* aspect-ratio: 25/9; */
    position: absolute;
    left: 50%;
    bottom: -25%;
    transform: translate(-50%, -30%);
    padding-left: 5.5rem;
    padding-right: 5.5rem;
}

.landscape-center-board {
    display: flex;
    position: relative;
    flex-direction: row;
    gap: 3px;
    justify-content: space-between;
    flex: 3;
    
}

.landscape-top-board {
    flex-basis: 1;
    display: flex;
    flex-direction: column;
    gap: 2px;
    /* align-items: center; */
    justify-content: center;
    position: relative;
    padding: 0 5.7rem 1rem;
}

.landscape-bottom-board {
    flex-basis: 1;
    display: flex;
    flex-direction: row;
    gap: 2px;
    align-items: center;
    justify-content: center;
}

.flex-main-item {
    flex: 4;
}

.flex-side-board {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2px;
    flex: 1;
    align-items: flex-start;
}

.bottom-card-label {
    font-size: 1rem;
}

.bottom-smcard-label {
    font-size: 0.7rem;
}

.bottom-betcard-label {
    font-size: 0.8rem;
    margin: 0.4rem 0rem;
}

.bottom-betcard-title {
    font-size: 1.4rem;
}

.svg-union-logo {
    height: 12px;
}

.navbet-panel-landscape {
    flex: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 2px;
    height: 100%;
    box-sizing: border-box;
}

.btn-nav {
    width: 34px;
    height: 34px;
}

.bet-nav-landscape {
    height: 35vh;
}

.panel-coin-landscape {
    height: 36px;
}

.othermenu-panel-landscape {
    flex: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
}

.overlay-panel {
    z-index: 5000;
    background: rgba(2, 16, 33, 0.75);
    backdrop-filter: blur(2px);
    position: fixed;
    height: 100%;
    width: 100%;
    animation: overlay-open 0.56s linear forwards;
}

.overlay-panel-2 {
    z-index: 800;
    background: rgba(2, 16, 33, 0.75);
    backdrop-filter: blur(0.2rem);
    position: absolute;
    height: 100%;
    width: 100%;
    animation: panel-fadein 0.25s forwards;
}

.menu-mainframe {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: fit-content;
    background: #222334;
    backdrop-filter: blur(25px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 -0.4rem 1.2rem rgba(0, 0, 0, 0.3);
    animation: mainmenu-slideup 0.65s forwards;
}

.landscape-menu-mainframe {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 50%;
    height: 100%;
    background: #222334;
    backdrop-filter: blur(25px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: mainmenu-slideleft 0.65s forwards;
}

.landscape-menu-mainframe {
    position: absolute;
}

.menu-options-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    gap: 0;
    position: relative;
    background: #222334;
}

.menu-footer-container {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    padding: 1.2rem 1rem;
    justify-content: space-between;
    align-items: center;
}

.label-mainmenu-footer {
    color: #47485a;
    font-family: 'RethinksansCustom';
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    /* line-height: normal; */
    letter-spacing: 0.016rem;
    padding: 0px;
    margin: 0px;
}

.label-mainmenu-item {
    color: #5e5f73;
    font-family: ManropeCustom;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25;
    /* letter-spacing: -0.3px; */
}

.logo-idnmenu {
    width: 8rem;
}

.menu-settings-mainframe {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: fit-content;
    background: #1e1f2e;
    backdrop-filter: blur(25px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    animation: settingsmenu-slideup 0.6s linear forwards;
}

.landscape-menu-settings-mainframe {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 50%;
    height: 100%;
    background: #1e1f2e;
    backdrop-filter: blur(25px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    animation: settingsmenu-slideleft 0.6s linear forwards;
    box-sizing: border-box;
}

.menu-history-mainframe {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: fit-content;
    background: #1e1f2e;
    backdrop-filter: blur(25px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    animation: settingsmenu-slideup 0.6s linear forwards;
}

.landscape-menu-history-mainframe {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 50%;
    height: 100%;
    background: #1e1f2e;
    backdrop-filter: blur(25px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    animation: settingsmenu-slideleft 0.6s linear forwards;
    box-sizing: border-box;
}

.history-table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    margin: 5px 0px 0px 0px;
    color: #ffffff;
    border-radius: 8px;
}

.history-table th {
    font-family: ManropeCustom;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.5px;
}

.history-table th,
.history-table td {
    border: 0.3px #4c4d66 solid;
    padding-top: 3px;
    padding-bottom: 3px;
}

.history-table th:first-child {
    border-top-left-radius: 8px;
}

.history-table th:last-child {
    border-top-right-radius: 8px;
}

.history-table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 8px;
}

.history-table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 8px;
}

.menu-general-mainframe {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: fit-content;
    background: #1e1f2e;
    backdrop-filter: blur(25px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    animation: generalmenu-slideup 0.6s linear forwards;
}

.landscape-menu-general-mainframe {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 50%;
    height: 100%;
    background: #1e1f2e;
    backdrop-filter: blur(25px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    animation: generalmenu-slideleft 0.6s linear forwards;
    box-sizing: border-box;
}

.paylimit-table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    margin: 5px 0px 0px 0px;
    color: #ffffff;
    border-radius: 8px;
}

.paylimit-table th,
.paylimit-table td {
    border: 0.15px #4c4d66 solid;
    padding-top: 3px;
    padding-bottom: 3px;
}

.paylimit-table th:first-child {
    border-top-left-radius: 8px;
}

.paylimit-table th:last-child {
    border-top-right-radius: 8px;
}

.paylimit-table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 8px;
}

.paylimit-table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 8px;
}

.table-roadmap {
    display: grid;
    gap: 0px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-flow: column;
}

.table-roadmap-ruled {
    display: grid;
    gap: 0px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.cell-roadmap {
    border: 0.5px solid #f4f4f4;
    position: relative;
    display: grid;
    gap: 0.5px;
}

.combobox-roadmap {
    display: grid;
    gap: 1px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: column;
}
