.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: 100;
}

/* Slideshow */
.slideshow {
    margin: 0 auto;
    overflow: hidden;
    max-width: 500px;
}

.slideshow-slider {
    white-space: nowrap;
    transition: ease 750ms;
}

.slide {
    display: inline-block;

    height: 400px;
    width: 100%;
    border-radius: 40px;
}

/* Buttons */
.slideshow-dots {
    text-align: center;
}

.slideshow-dot {
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
    margin: 15px 7px 0px;
    background-color: #c4c4c4;
}

.slideshow-dot.active {
    background-color: #6a0dad;
}
