:global(.mobile-portrait),
:global(.mobile-landscape) {
    .menu-payout {
        min-height: 90%;
    }
}

:global(.desktop) {
    .menu-payout {
        right: unset;
        left: 2rem;
    }
}

.payout {
    flex: 1;
    overflow-y: auto;
    background-color: #1e1f2e;
    border-top: 0.1rem solid #2b2c3d;

    padding: 1rem;
}
