.v1 {
    &.chip-deck {
        --size-chip: 3.2rem;
        --chip-scale: 1;
    }
}

:global(.mobile-portrait) {
    .v1 {
        &.chip-deck {
            --gap: 0.45rem;
            --offset: 0.25rem;

            position: relative;

            .wrapper {
                display: flex;
                align-items: center;
                gap: var(--gap);

                padding-left: var(--offset);
                padding-right: var(--offset);

                outline: 0.1rem solid rgba(255, 255, 255, 0.16);
            }

            .wrapper {
                height: var(--button-action-size);

                overflow: auto;

                // width: calc((var(--size-chip) * 5) + (var(--gap) * 4) + (var(--offset) * 2));
                width: calc(
                    (var(--size-chip) * 4) + (var(--gap) * 4) + (var(--size-chip) * 30 / 100) +
                        (var(--offset) * 2)
                );

                border-radius: var(--button-action-size);
                background-color: var(--overlay-1);
                backdrop-filter: blur(0.6rem);
            }
        }
    }
}

:global(.mobile-landscape) {
    .v1 {
        &.chip-deck {
            --gap: 0.5rem;
            --offset: 0.25rem;

            position: relative;

            .wrapper {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: var(--gap);

                padding-top: var(--offset);
                padding-bottom: var(--offset);

                outline: 0.1rem solid rgba(255, 255, 255, 0.16);
            }

            .wrapper {
                width: var(--button-action-size);

                overflow: auto;

                height: calc(
                    (var(--size-chip) * 3) + (var(--gap) * 3) + (var(--size-chip) * 40 / 100) +
                        (var(--offset) * 2)
                );
                // height: 13.8rem;

                border-radius: var(--button-action-size);
                background-color: var(--overlay-1);
                backdrop-filter: blur(0.6rem);
            }
        }
    }
}

:global(.desktop) {
    .v1 {
        &.chip-deck {
            --size-chip: 4.3rem;
            --gap: 0.8rem;
            --offset: 0.5rem;

            position: relative;

            .wrapper {
                display: flex;
                align-items: center;
                gap: var(--gap);

                padding-left: var(--offset);
                padding-right: var(--offset);

                outline: 0.1rem solid rgba(255, 255, 255, 0.16);
            }

            .wrapper {
                height: 5.3rem;

                overflow: auto;

                width: calc((var(--size-chip) * 10) + (var(--gap) * 9) + (var(--offset) * 2));

                border-radius: 5.3rem;
                background-color: var(--overlay-1);
                backdrop-filter: blur(0.6rem);
            }
        }
    }
}
