.chip-deck {
    --size-chip: 2.55rem;
    --chip-scale: 1.1;
}

.mobile-portrait {
    &.v1 {
        &.chip-deck {
            --gap: 0.75rem;
            --offset: 0.4rem;

            position: relative;

            .wrapper {
                display: flex;
                align-items: center;
                gap: var(--gap);
                padding: 0 var(--offset);

                outline: 0.1rem solid rgba(255, 255, 255, 0.16);
            }

            .wrapper {
                height: 3.4rem;

                overflow: auto;

                width: calc((var(--size-chip) * 5) + (var(--gap) * 4) + (var(--offset) * 2));

                border-radius: 3.4rem;
                background: rgba(0, 0, 0, 0.32);
                backdrop-filter: blur(0.6rem);
            }
        }
    }
}

.desktop,
.mobile-landscape {
    &.v1 {
        &.chip-deck {
            --gap: 0.75rem;
            --offset: 0.4rem;

            position: relative;

            .wrapper {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: var(--gap);
                padding: var(--offset) 0;

                outline: 0.1rem solid rgba(255, 255, 255, 0.16);
            }

            .wrapper {
                width: 3.4rem;

                overflow: auto;

                height: calc((var(--size-chip) * 4) + (var(--gap) * 3) + (var(--offset) * 2));

                border-radius: 3.4rem;
                background: rgba(0, 0, 0, 0.32);
                backdrop-filter: blur(0.6rem);
            }
        }
    }
}
