.v2 {
    &.chip-deck {
        --size-chip: 3.2rem;
        --chip-scale: 1;
    }
}

:global(.mobile-portrait) {
    .v2 {
        &.chip-deck {
            --gap: 0.5rem;
            --offset: 0.25rem;

            position: relative;

            .wrapper {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: var(--gap);
                padding: var(--offset) 0;

                outline: 0.1rem solid rgba(255, 255, 255, 0.16);
            }

            .wrapper {
                width: var(--button-action-size);

                overflow: auto;

                // height: calc((var(--size-chip) * 5) + (var(--gap) * 4) + (var(--offset) * 2));
                height: calc(
                    (var(--size-chip) * 4) + (var(--size-chip) * 50 / 100) + (var(--gap) * 4) +
                        (var(--offset) * 2)
                );

                border-radius: var(--button-action-size);
                background: rgba(0, 0, 0, 0.32);
                backdrop-filter: blur(0.6rem);
            }
        }
    }
}

:global(.desktop),
:global(.mobile-landscape) {
    .v2 {
        &.chip-deck {
            --gap: 0.5rem;
            --offset: 0.25rem;

            position: relative;

            .wrapper {
                display: flex;
                align-items: center;
                gap: var(--gap);
                padding: 0 var(--offset);

                outline: 0.1rem solid rgba(255, 255, 255, 0.16);
            }

            .wrapper {
                height: var(--button-action-size);

                overflow: auto;

                // width: calc((var(--size-chip) * 5) + (var(--gap) * 4) + (var(--offset) * 2));
                width: calc(
                    (var(--size-chip) * 4) + (var(--size-chip) * 50 / 100) + (var(--gap) * 4) +
                        (var(--offset) * 2)
                );

                border-radius: var(--button-action-size);
                background: rgba(0, 0, 0, 0.32);
                backdrop-filter: blur(0.6rem);
            }
        }
    }
}
