.chip-deck {
    opacity: 1;
    transition: opacity 0.3s linear;

    &.disapear {
        opacity: 0.2;
        transition: opacity 0.3s linear;
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@import './v1';
@import './v2';

.mobile-portrait {
    &.chip-deck {
        &.disapear {
            opacity: 0.2;
        }
    }
}

.desktop,
.mobile-landscape {
    &.chip-deck {
        &.disapear {
            opacity: 0;
        }
    }
}
