.wrapper {
    position: absolute;
    width: 4.8rem;
}

.close {
    position: absolute;
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 1.4rem;

    background-color: var(--overlay-1);

    .close-icon {
        width: 100%;
        height: 100%;
    }
}

:global(.mobile-portrait) {
    .layout-1 {
        top: 8rem;
        right: 0;

        .close {
            top: 1.5rem;
            left: -0.4rem;
        }
    }
}
