.version {
    position: absolute;

    z-index: var(--layer-streaming);

    font-weight: 800;
}

:global(.mobile-portrait),
:global(.mobile-landscape) {
    .version {
        top: 0.1rem;
        right: 0.2rem;
        font-size: 0.4rem;
    }
}

:global(.desktop) {
    .version {
        bottom: 0.2rem;
        right: 0.2rem;
        font-size: 1rem;
    }
}
