.h1 {
    font-size: 1.1rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 1.3rem;
    margin-bottom: 1.3rem;
}

:global(.desktop) {
    .h1 {
        font-size: 1.4rem;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
}
