:global(.mobile-portrait),
:global(.mobile-landscape) {
    .menu-promotion {
        min-height: 90%;
    }
}

:global(.desktop) {
    .menu-promotion {
        right: unset;
        left: 2rem;
    }
}
