.container {
    position: absolute;
    inset: 0;

    background-color: rgba(0, 0, 0, 0.4);
    pointer-events: all;
}

// .overlay {
//     position: absolute;
//     inset: 0;
//     background-color: rgba(0, 0, 0, 0.6);
// }

:global :local(.modal) {
    animation: zoomIn 0.3s both;
}

:global :local(.modal.close) {
    animation: zoomOut 0.3s both;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

    display: flex;
    width: 28rem;
    padding: 2rem;

    flex-direction: column;
    align-items: center;
    gap: 2.8rem;
    border-radius: 0.4rem;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(0.6rem);
}

.title {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.5;
    text-transform: uppercase;
}

.message {
    color: #aaa;
    text-align: center;
    font-size: 1.1rem;
    line-height: 1.5;
}
