:global(.mobile-portrait),
:global(.mobile-landscape) {
    .game-area {
        position: relative;
        width: 100%;
        height: 100%;

        &.box {
            position: absolute;
            top: 50%;
            left: 50%;
            width: var(--width-game-px);
            height: var(--height-game-px);
            transform: translateX(-50%) translateY(-50%);
            overflow: hidden;
        }
    }
}

:global(.desktop) {
    .game-area {
        position: absolute;
        top: 50%;
        left: 50%;
        width: var(--width-game-px);
        height: var(--height-game-px);
        transform: translateX(-50%) translateY(-50%);
        overflow: hidden;
    }
}
