.payout-table-container {
    overflow-x: auto;
    flex-shrink: 0;
}

.payout-table,
.payout-table th,
.payout-table td {
    border-collapse: collapse;
    border: 0.05rem solid #4c4d66;
}

.payout-table {
    width: 100%;
    font-size: 1rem;
    font-weight: 600;

    th {
        text-transform: capitalize;
    }

    th,
    td {
        padding: 0.8rem 0.6rem;

        &.bet-child {
            padding-left: 1.6rem;
        }
    }

    thead tr {
        background-color: #2c2d3f;
    }
}

.sub-item {
    background-color: #242435;
}

.bet-child {
    font-size: 400;
    color: #c8c9db;
}

.shading {
    background: var(--bg-shading);
}
