.chip {
    --width-chip: 2.2rem;
    --height-chip: 2.2rem;
    font-size: 2.4rem;

    position: relative;
    flex-shrink: 0;
    border-radius: 9999px;

    width: var(--width-chip);
    height: var(--height-chip);

    transform: scale(1);
    transition: transform 0.3s linear;

    &.active {
        transform: scale(1.2);
        transition: transform 0.3s linear;

        &::before {
            content: '';
            position: absolute;
            z-index: -1;
            width: calc(100% + 0.5rem);
            height: calc(100% + 0.5rem);
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: rgba(0, 195, 216, 0.5);

            border: 0.15rem solid #00c3d8;
            filter: drop-shadow(0px 0px 0.2rem rgba(0, 195, 216, 0.75));
            backdrop-filter: blur(0.2rem);
            border-radius: 9999px;
        }
    }
}

.chip > svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
