.user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 0.2rem;

    &.right {
        padding-right: 0.8rem;
        align-items: flex-end;

        .label-wrapper {
            justify-content: flex-end;
        }
    }

    &.left {
        padding-left: 0.8rem;
    }
}

.label-wrapper {
    display: flex;
    gap: 0.5rem;
    width: 100%;
    overflow: hidden;
}

.label,
.value,
.label-second {
    white-space: nowrap;
}

.label,
.label-second {
    font-size: 0.9rem;
    font-weight: 400;
}

.label {
    color: var(--gray);
}

.label-second {
    color: var(--white);
    text-overflow: ellipsis;
}

.value {
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: -0.02rem;
}

.mobile-portrait {
    &.user-info {
        flex-shrink: 0;
        width: calc((36rem - var(--width-total-bet)) * 50 / 100 + 1.5rem);
    }
}

.desktop,
.mobile-landscape {
    &.user-info {
        flex: 1;
    }
}
