
.card-core, .card-core-detail {
    transform-style: preserve-3d;
}

.card-cover {
    backface-visibility: hidden
}

.card-value {
    backface-visibility: hidden;
    transform: rotateY(180deg)
}
.card-slot {
    animation: none;

}
.card-slot.appear {
    animation: cardpush .65s linear forwards;
}

.card-slot.disappear {
    animation: cardpull .65s linear forwards;
}

@keyframes cardpush {
    0% {
        transform: translate(0);
        opacity: 0
    }

    55% {
        opacity: 1
    }

    65% {
        transform: translateY(120%)
    }

    to {
        transform: translateY(120%)
    }
}

@keyframes cardpull {
    0% {
        transform: translateY(120%);
        opacity: 1
    }

    55% {
        opacity: 0
    }

    65% {
        opacity: 0;
        transform: translate(0)
    }

    to {
        opacity: 0;
        transform: translate(0)
    }
}

.card-core {
    animation: flipdown .65s linear both
}

.card-core.flipup {
    animation: flipup .65s linear both
}

.card-core.flipup .card-cover{
    transition-delay: .35s;
    transition-property: display;
    display: none;
}

@keyframes flipup {
    0% {
        transform: rotateY(0)
    }

    45% {
        transform: rotateY(180deg)
    }

    to {
        transform: rotateY(180deg)
    }
}

@keyframes flipdown {
    0% {
        transform: rotateY(180deg)
    }

    45% {
        transform: rotateY(0)
    }

    to {
        transform: rotateY(0)
    }
}