.modal {
    position: relative;
    width: var(--width-modal-mini-htp);
    background: rgba(0, 0, 0, 0.8);
    padding: 2.4rem 0.8rem 2rem;
    border-radius: 1.6rem;
    animation: open-modal 0.4s forwards;

    display: flex;
    flex-direction: column;
}

.body {
    flex: 1;
}

.mobile-portrait {
    --width-modal-mini-htp: 34rem;
}

.desktop,
.mobile-landscape {
    --width-modal-mini-htp: 42rem;
}

@keyframes open-modal {
    0% {
        opacity: 0;
        scale: 0;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        scale: 1;
    }
}
