.modal {
    position: relative;
    width: var(--width-modal-mini-htp);
    background: rgba(0, 0, 0, 0.8);
    padding: 2.4rem 0.8rem 2rem;
    border-radius: 1.6rem;
    animation: open-modal 0.45s forwards;

    display: flex;
    flex-direction: column;

    &.close {
        animation: close-modal 0.4s forwards;
    }
}

.body {
    flex: 1;
}

:global(.mobile-portrait) {
    .modal {
        --width-modal-mini-htp: 34rem;
    }
}

:global(.desktop),
:global(.mobile-landscape) {
    .modal {
        --width-modal-mini-htp: 42rem;

        height: calc(100% - 2rem);
    }
}

@keyframes open-modal {
    0% {
        opacity: 0;
        scale: 0.5;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        scale: 1;
    }
}

@keyframes close-modal {
    0% {
        opacity: 1;
        scale: 1;
    }

    100% {
        opacity: 0;
        scale: 0.5;
    }
}
