.modal {
    position: relative;
    width: 34rem;
    background: rgba(0, 0, 0, 0.8);
    padding: 2.4rem 1.6rem 2rem;
    border-radius: 1.6rem;
    animation: open-modal 0.4s forwards;

    display: flex;
    flex-direction: column;
}

.body {
    flex: 1;
}

@keyframes open-modal {
    0% {
        opacity: 0;
        scale: 0;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        scale: 1;
    }
}
