.card {
    background-color: #2c2d3f;
    padding: 1.4rem 0.8rem;
    border-top: 0.5px solid #4c4d66;
    border-left: 0.5px solid #4c4d66;
    border-right: 0.5px solid #4c4d66;

    &:first-child {
        border-top-left-radius: 0.6rem;
        border-top-right-radius: 0.6rem;
    }

    &:last-child {
        border-bottom: 0.5px solid #4c4d66;
        border-bottom-left-radius: 0.6rem;
        border-bottom-right-radius: 0.6rem;
    }
}
