.indicator {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 0.8rem;
}

.arrow {
    background: none;
    border: none;
    outline: none;
}

.dot-wrapper {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.dot {
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 0.6rem;
    background-color: rgba(255, 255, 255, 0.12);
    transition: background-color 0.4s linear;
}

.dot.active {
    background-color: rgba(255, 255, 255, 1);
    transition: background-color 0.4s linear;
}

.icon {
    width: 2.1rem;
}

:global(.desktop) {
    .indicator {
        margin-top: 1.6rem;
    }

    .dot-wrapper {
        gap: 1.2rem;
    }

    .dot {
        width: 1rem;
        height: 1rem;
        border-radius: 1rem;
        cursor: pointer;
    }

    .icon {
        width: 3rem;
    }
}
