.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 0.1rem solid #343547;
    cursor: pointer;

    transition: background-color 0.4s linear;

    &:first-child {
        border-radius: 0.8rem 0.8rem 0 0;
    }

    &:last-child {
        border-radius: 0 0 0.8rem 0.8rem;
    }

    &.open {
        background: #1e1f2e;
        transition: background-color 0.4s linear;
    }
}

.top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem;
    height: 4.6rem;
}

.title {
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
}

.accordion-icon {
    width: 2rem;
    height: 2rem;

    transform: rotateZ(0deg);
    color: #6b6c80;

    & > svg {
        width: 100%;
        height: 100%;
    }

    &.close {
        animation: accordion-icon-general-close 0.4s linear forwards;
    }

    &.open {
        animation: accordion-icon-general-open 0.4s linear forwards;
    }
}

.accordion-content {
    height: 0px;
    opacity: 0;
    transform: scaleY(0);

    &.open {
        animation: accordion-general-open 0.4s linear forwards;
    }

    &.close {
        animation: accordion-general-close 0.4s linear forwards;
    }
}

@keyframes accordion-icon-general-open {
    0% {
        transform: rotateZ(0deg);
        color: #6b6c80;
    }
    100% {
        transform: rotateZ(180deg);
        color: white;
    }
}

@keyframes accordion-icon-general-close {
    0% {
        transform: rotateZ(180deg);
        color: white;
    }
    100% {
        transform: rotateZ(0deg);
        color: #6b6c80;
    }
}

@keyframes accordion-general-close {
    0% {
        height: fit-content;
        opacity: 1;
        transform: scaleY(1);
    }
    10% {
        opacity: 0;
    }
    100% {
        height: 0px;
        opacity: 0;
        transform: scaleY(0);
    }
}

@keyframes accordion-general-open {
    0% {
        height: 0%;
        opacity: 0;
        transform: scaleY(0);
    }
    50% {
        opacity: 0;
    }
    100% {
        height: fit-content;
        opacity: 1;
        transform: scaleY(1);
    }
}
