.menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: var(--layer-menu);
    animation-fill-mode: both;
}

:global(.mobile-portrait),
:global(.mobile-landscape) {
    .menu {
        background-color: rgba(2, 16, 33, 0.75);
        backdrop-filter: blur(0.1rem);
        animation-duration: 0.3s;
    }
}

:global(.desktop) {
    .menu {
        background-color: rgba(2, 16, 33, 0.2);
        animation-duration: 0.2s;
    }
}

:global :local(.menu) {
    animation-name: fadeIn;

    &:local(.closed) {
        animation-name: fadeOut;
    }
}
