.menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(2, 16, 33, 0.75);
    backdrop-filter: blur(0.1rem);
    z-index: var(--layer-menu);

    animation-duration: 0.35s;
    animation-fill-mode: both;
}

:global :local(.menu) {
    animation-name: fadeIn;

    &:local(.closed) {
        animation-name: fadeOut;
    }
}
