.menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: var(--layer-menu);
    animation-fill-mode: both;
}

:global {
    .mobile-portrait,
    .mobile-landscape {
        :local(.menu) {
            background-color: rgba(2, 16, 33, 0.75);
            backdrop-filter: blur(0.1rem);
            animation-duration: 0.3s;
            animation-name: fadeIn;

            &:local(.closed) {
                animation-name: fadeOut;
            }
        }
    }
}

:global(.desktop) {
    .menu {
        animation-duration: 0.2s;
        pointer-events: none;
    }
}
