.menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(2, 16, 33, 0.75);
    backdrop-filter: blur(0.1rem);
    z-index: var(--layer-menu);

    animation-duration: 0.35s;
    animation-fill-mode: forwards;

    animation-name: panel-fadein;

    &.closed {
        animation-name: panel-fadeout;
    }
}

@keyframes panel-fadein {
    0% {
        opacity: 0;
        transform: scale(1, 1);
    }
    100% {
        opacity: 1;
        transform: scale(1, 1);
    }
}

@keyframes panel-fadeout {
    0% {
        opacity: 1;
        transform: scale(1, 1);
    }
    95% {
        opacity: 0;
        transform: scale(1, 1);
    }
    100% {
        opacity: 0;
        transform: scale(0, 0);
    }
}
