.result {
    position: absolute;
    left: 50%;
    top: 9rem;
    transform: translateX(-50%);

    &.disapear {
        .image {
            animation: hide-ball 0.3s linear forwards;
        }
    }
}

:global :local(.result) {
    animation: fadeIn 0.3s both;

    &:local(.disapear) {
        animation: fadeOut 0.3s linear forwards;
    }
}

.image {
    width: 9rem;

    animation: show-ball 0.3s linear forwards;
}

@keyframes show-ball {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes hide-ball {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(0);
    }
}
