.result {
    position: absolute;
    left: 50%;
    top: 9rem;
    transform: translateX(-50%);

    animation: result-fadein 0.4s forwards;

    &.disapear {
        animation: result-fadeout 0.4s linear forwards;

        .image {
            animation: hide-ball 0.3s linear forwards;
        }
    }
}

.image {
    width: 9rem;

    animation: show-ball 0.3s linear forwards;
}

@keyframes result-fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes result-fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes show-ball {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes hide-ball {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(0);
    }
}
