@keyframes buttonWinBlinkBrightness {
    0% {
        filter: brightness(1);
    }
    50% {
        filter: brightness(1.5);
    }
    100% {
        filter: brightness(1);
    }
}

@keyframes buttonWinBlinkSaturate {
    0% {
        filter: saturate(1);
    }
    50% {
        filter: saturate(1.5);
    }
    100% {
        filter: saturate(1);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
    50% {
        opacity: 1;
    }
}

@keyframes zoomOut {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
    to {
        opacity: 0;
    }
}

@keyframes slideInUp {
    0% {
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }
    to {
        transform: translateZ(0);
    }
}

@keyframes slideInDown {
    0% {
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }
    to {
        transform: translateZ(0);
    }
}

@keyframes slideInLeft {
    0% {
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    to {
        transform: translateZ(0);
    }
}

@keyframes slideInRight {
    0% {
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }
    to {
        transform: translateZ(0);
    }
}

@keyframes slideOutUp {
    0% {
        transform: translateZ(0);
    }
    to {
        visibility: hidden;
        transform: translate3d(0, -100%, 0);
    }
}

@keyframes slideOutDown {
    0% {
        transform: translateZ(0);
    }
    to {
        visibility: hidden;
        transform: translate3d(0, 100%, 0);
    }
}

@keyframes slideOutRight {
    0% {
        transform: translateZ(0);
    }
    to {
        visibility: hidden;
        transform: translate3d(100%, 0, 0);
    }
}

@keyframes slideOutLeft {
    0% {
        transform: translateZ(0);
    }
    to {
        visibility: hidden;
        transform: translate3d(-100%, 0, 0);
    }
}
