.app {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: calc(var(--vh, 1vh) * 100);
    // height: 100%;

    background-color: var(--base);
}

.ios {
    height: 110vh;
}

@supports (height: 100dvh) {
    .app {
        height: 100dvh;
    }
}

.button-win-blink-1 {
    animation: buttonWinBlinkBrightness 0.75s reverse ease-in-out;
    animation-iteration-count: infinite;
}

.button-win-blink-2 {
    animation: buttonWinBlinkSaturate 0.75s reverse ease-in-out;
    animation-iteration-count: infinite;
}

.button-win-blink-3 {
    animation: buttonWinBlinkOpacity 0.75s reverse ease-in-out;
    animation-iteration-count: infinite;
}
