.app {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: calc(var(--vh, 1vh) * 100);
    // height: 100%;

    background-color: var(--base);

    &.mobile-portrait {
        --height-footer: 4rem;
        --width-total-bet: 12rem;
    }

    &.desktop,
    &.mobile-landscape {
        --height-footer: 4rem;
        --width-total-bet: 13.5rem;
    }
}

.ios {
    height: 110vh;
}

@supports (height: 100dvh) {
    .app {
        height: 100dvh;
    }
}

.button-win-blink {
    animation: buttonWinBlinkBrightness 1s reverse ease-in-out;
    animation-iteration-count: infinite;
}

.button-win-blink-2 {
    animation: buttonWinBlinkSaturate 1s reverse ease-in-out;
    animation-iteration-count: infinite;
}
