.text-cyan {
    color: var(--cyan);
}

.text-gray {
    color: var(--gray);
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-plus {
    color: #3be800;
}

.text-minus {
    color: #ff2667;
}

.text-nowrap {
    white-space: nowrap;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-capitalize {
    text-transform: capitalize;
}
