:root {
    --white: #fff;
    --base: #0f101d;
    --cyan: #00c3d8;
    --gray: #c8c9db;

    // setting streaming scale in portrait
    --streaming-scale-portrait: 1.1;
    --height-overlay-streaming-portrait: 4.8rem;

    // portrait, streaming ke bawah
    --streaming-color-1: linear-gradient(180deg, #854c07 0%, #533909 40.22%, #0e0901 100%);
    // portrait, blur di bawah streaming 1
    --streaming-color-2: linear-gradient(
        180deg,
        rgba(133, 76, 7, 0) 0%,
        rgba(133, 76, 7, 0.5) 100%
    );
    // portrait, blur di bawah streaming 2
    --streaming-color-3: linear-gradient(180deg, rgba(133, 76, 7, 0) 0%, #854c07 100%);

    // landscape, kiri
    --streaming-color-4: linear-gradient(to right, #1c1303 0%, #1c1303 28%, transparent 100%);
    // landscape, kanan
    --streaming-color-5: linear-gradient(to left, #1c1303 0%, #1c1303 28%, transparent 100%);
    // landscape, bawah
    --streaming-color-6: linear-gradient(
            180deg,
            rgba(28, 19, 3, 0) 0%,
            rgba(28, 19, 3, 0.83) 47.34%,
            #0d0800 100%
        ),
        linear-gradient(180deg, rgba(28, 19, 3, 0) 0%, rgba(28, 19, 3, 0.83) 47.34%, #0d0800 100%);

    --bg-footer: transparent; // rgba(2, 10, 20, 0.5);

    --size-button: 3.4rem;

    --timer-portrait-top: calc(var(--height-streaming) * 1px);
    --timer-portrait-left: 50%;
    --timer-portrait-trans-x: -50%;
    --timer-portrait-trans-y: calc(-5.2rem - 1rem);

    --timer-landscape-top: 2rem;
    --timer-landscape-left: 1.2rem;
    --timer-landscape-trans-x: 0;
    --timer-landscape-trans-y: 0;

    // layer
    --layer-streaming: 1;
    --layer-timer: 2;
    --layer-game: 3;
    --layer-top-winner: 4;
    --layer-alert: 5;
    --layer-menu: 6;

    --bg-shading: repeating-linear-gradient(
        -45deg,
        transparent,
        transparent 0.3rem,
        #2c2d3f 0.5rem,
        #2c2d3f 0.5rem
    );

    --button-action-size: 3.8rem;
}
