:root {
    --white: #fff;
    --base: #0f101d;
    --cyan: #00c3d8;
    --gray: #c8c9db;

    // setting streaming scale in portrait
    --streaming-scale-portrait: 1.4;
    --height-overlay-streaming-portrait: 4rem;
    --width-overlay-streaming-landscape: 4rem;
    --height-overlay-streaming-landscape: 8rem;

    --streaming-background: #251203; // #100b07;

    // portrait, streaming ke bawah
    --streaming-color-1: linear-gradient(180deg, #ff7401 0%, #452204 40.22%, #0b0500 100%);
    // portrait, blur di bawah streaming 1
    --streaming-color-2: linear-gradient(180deg, transparent 0%, #ff7401 100%);
    // portrait, blur di bawah streaming 2
    --streaming-color-3: linear-gradient(180deg, transparent 0%, #ff7401 100%);

    // landscape, bawah
    --streaming-color-4: linear-gradient(to right, var(--streaming-background) 0%, transparent 80%);
    // landscape, kiri
    --streaming-color-5: linear-gradient(to left, var(--streaming-background) 0%, transparent 80%);
    // landscape, bawah
    --streaming-color-6: linear-gradient(
        0deg,
        var(--streaming-background) 0%,
        var(--streaming-background) 4rem,
        transparent 100%
    );

    --streaming-color-7: linear-gradient(to left, var(--streaming-background) 0%, #0b0500 14rem);
    --streaming-color-8: linear-gradient(to right, var(--streaming-background) 0%, #0b0500 14rem);

    --bg-footer: transparent; // rgba(2, 10, 20, 0.5);

    --size-button: 3.4rem;

    --timer-portrait-top: calc(var(--height-streaming) * 1px);
    --timer-portrait-left: 50%;
    --timer-portrait-trans-x: -50%;
    --timer-portrait-trans-y: calc(-5.2rem - 1rem);

    --timer-landscape-top: 2rem;
    --timer-landscape-left: 1.2rem;
    --timer-landscape-trans-x: 0;
    --timer-landscape-trans-y: 0;

    // layer
    --layer-streaming: 1;
    --layer-timer: 2;
    --layer-game: 3;
    --layer-top-winner: 4;
    --layer-alert: 5;
    --layer-menu: 6;

    --bg-shading: repeating-linear-gradient(
        -45deg,
        transparent,
        transparent 0.3rem,
        #2c2d3f 0.5rem,
        #2c2d3f 0.5rem
    );

    --button-action-size: 3.8rem;

    --overlay-1: rgba(0, 0, 0, 0.3);

    --background-total-bet-bg-1: rgba(255, 255, 255, 0); // rgba(0, 0, 0, 0.1);
    --background-total-bet-bg-2: rgba(255, 255, 255, 0.2); // rgba(52, 54, 80, 0.56);

    --border-total-bet-bg-1: rgba(255, 255, 255, 0);
    --border-total-bet-bg-2: rgba(255, 255, 255, 0.3);
}
