:root {
    --white: #fff;
    --base: #0f101d;
    --cyan: #00c3d8;
    --gray: #c8c9db;

    // setting streaming scale in portrait
    --streaming-scale-portrait: 1.1;

    // portrait, streaming ke bawah
    --streaming-color-1: linear-gradient(180deg, #FF7401 0%, #452204 40.22%, #0B0500 100%);
    // portrait, blur di bawah streaming 1
    --streaming-color-2: linear-gradient(
        180deg,
        rgba(255, 116, 0, 0) 0%,
        rgba(255, 116, 0, 0.5) 100%
    );
    // portrait, blur di bawah streaming 2
    --streaming-color-3: linear-gradient(180deg, rgba(255, 116, 0, 0) 0%, #FF7401 100%);

    // landscape, bawah
    --streaming-color-4: linear-gradient(to right, rgba(14,11,8, 0.8) 0%, transparent 100%);
    // landscape, kiri
    --streaming-color-5: linear-gradient(to left, rgba(14,11,8, 0.8) 0%, transparent 100%);
    // landscape, bawah
    --streaming-color-6: linear-gradient(
            180deg,
            rgba(255, 116, 0, 0) 0%,
            rgba(255, 116, 0, 1) 50%,
            #4C2200 100%
        );

    --bg-footer: transparent; // rgba(2, 10, 20, 0.5);

    --size-button: 3.4rem;

    --timer-portrait-top: calc(var(--height-streaming) * 1px);
    --timer-portrait-left: 50%;
    --timer-portrait-trans-x: -50%;
    --timer-portrait-trans-y: calc(-5.2rem - 1rem);

    --timer-landscape-top: 2rem;
    --timer-landscape-left: 1.2rem;
    --timer-landscape-trans-x: 0;
    --timer-landscape-trans-y: 0;

    // layer
    --layer-streaming: 1;
    --layer-timer: 2;
    --layer-game: 3;
    --layer-top-winner: 4;
    --layer-alert: 5;
    --layer-menu: 6;
}
