.menu-payout-top {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.menu-payout-info {
    display: inline-flex;
    gap: 0.6rem;
    font-size: 1rem;
    font-weight: 500;
}

.menu-payout-info-left {
    color: rgba(255, 255, 255, 0.5);
}

.menu-payout-top-bottom {
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: -0.014rem;
}
