.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
}

.button {
    font-size: 1.2rem;
    font-weight: 800;
    color: #583e11;
    line-height: normal;

    text-align: center;
}

.payout {
    color: #a57a30;
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: -0.016rem;
}
