.area-action {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    width: 86rem;
    // background-color: red;
}

.side {
    flex-shrink: 0;
    width: calc(var(--button-action-size) * 3 + 1.6rem * 2);

    display: flex;
    gap: 1.6rem;
}

.chips {
    flex: 1;
    display: flex;
    justify-content: center;
}
